</div>
<div class="container etusivu">
    <li><a href="/esittely/kalevankierros">Kalevan kierros</a></li>
    <li><a href="/esittely/lajikuvaukset">Lajikuvaukset</a></li>
    <li><a href="/uutiset">Uutiset</a></li>
    <li><a href="/esittely/pistelasku">Pistelasku</a></li>
    <li><a href="/esittely/saannot">Säännöt</a></li>
    <li><a href="/ilmoittautuminen" id="themes">Ilmoittautuminen kierrokselle</a></li>
    <li><%= link_to 'Ilmoittautuminen tapahtumiin', events_path %></li>
    <li><%= link_to 'Tulokset', results_path %></li>
    <li><a href="/statistics">Tilastot</a></li>
    <li><a href="/haastekisa">Haastekisa</a></li>
    <li><a href="/yhteystiedot/hallitus" >Hallitus</a></li>
    <li><a href="/yhteystiedot/seurat">Seurat</a></li>
    <li><a href="/yhteystiedot/linkkeja">Linkkejä</a></li>
    <li><a href="http://www.kalevankierros.fi/phpbb/index.php">Forum</a></li>
