</div>
<div class="haastekisa">
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner text-banner">
                    <div class="banner-info">
                        <p class="sup">Kalevan Kierros 40 vuotta</p>
                        <h2>Haastejoukkuekisa</h2>
                    </div>
                </div>
                <div class="banner-text"><p>Kalevan Kierros viettää 40. juhlavuottaan ja sitä juhlistamaan sekä
                    kaikkia kiertäjiä kirittämään on saatu mukaan kuusi joukkuetta. Nämä joukkueet koostuvat osin
                    julkisuudessakin
                    tunnetuista henkilöistä
                    sekä muista, joilla on vahva kestävyysurheilusidos. Kestävyysliikuntaa seuraavat ihmiset tunnistavat
                    monet
                    heistä
                    ja ovat varmaan tavanneet erilaisissa tapahtumissa.</p>

                    <p>Haastejoukkueet käyvät oman kilpailunsa varsinaisen Kalevan Kierroksen ulkopuolella ja heille on
                        laadittu
                        omat
                        hivenen Kalevan Kierroksen säännöistä
                        poikkeavat säännöt. </p>

                    <p>Suurin ero varsinaiseen Kalevan Kierrokseen on, että joukkueet kilpailevat keskenään ja joukkueen
                        muodostaa
                        kuusi
                        jäsentä, joista jokainen suorittaa vain yhden lajin. Mikäli joku haastejoukkueiden jäsenistä
                        sattuisi voittamaan koko kisan, niin kuitenkin 1000 pistettä tulee varsinaiselle Kalevan
                        Kierrokselle
                        osallistuvalle.
                    </p>
                </div>
                <div>
                    <div class="joukkue col-sm-4"
                         style="background-image: url('http://www.electrofit.fi/upload/uutiset/uutisbannerit/rhpaivatiso.jpg')">
                        <p style="font-size: 24px; color: white">Electrofit</p>
                    </div>
                    <div class="joukkue col-sm-4"
                         style="background-image: url('http://static-sls.aws.sanomacloud.net/www.menaiset.fi/s3fs-public/styles/medium_main_image_no_upscale/public/blog_images/p1150150.jpg')">
                        <p style="font-size: 24px; color: white">Kestävyyttä pintakaasulla 24/7</p>
                    </div>
                    <div class="joukkue col-sm-4"
                         style="background-image: url('http://finntriathlon.fi/app/uploads/2015/08/Sportyfeel-Finntriathlon-Tahko-342.jpg')">
                        <p style="font-size: 24px; color: white">Finntriathlon</p>
                    </div>
                    <div class="joukkue col-sm-4"
                         style="background-image: url('https://pbs.twimg.com/media/CL4YRunWIAEXC-C.jpg')">
                        <p style="font-size: 24px; color: white">IBD Cycling</p>
                    </div>
                    <div class="joukkue col-sm-4"
                         style="background-image: url('http://img.yle.fi/radio/ylepuhe/article7204048.ece/ALTERNATES/w960/Mikko%20Peltsi%20Peltola_kesa2014')">
                        <p style="font-size: 24px; color: white">Peltsin Puhuvat Koirat</p>
                    </div>
                    <div class="joukkue col-sm-4"
                         style="background-image: url('http://www.fitra.fi/application/files/4614/5249/7474/scroller-lito_960x480.jpg')">
                        <p style="font-size: 24px; color: white">Fitra liikuttavaa luettavaa</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="text-banner">
                <div class="banner-info">
                </div>
            </div>

        </div>
        <!-- //container -->
    </div>


    <!-- //Hiihto -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('/download/2016/hiihto/hiihto1.jpgJ')">
                    <div class="banner-info">
                        <p class="sup">Haastekisa</p>
                        <h2>Tulokset</h2>
                        <p class="sub">Luistelun ja hiihdon jälkeen</p>
                        <div class="banner-grids">
                            <div class="banner-left">
                                <a href="#" class="text"></a>
                            </div>
                            <div class="banner-right">
                                <a href="#" class="text"></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>



    <div class="top-grids">
        <div class="container">

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://www.fitra.fi/application/files/4614/5249/7474/scroller-lito_960x480.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Fitra liikuttavaa luettavaa</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li class="comment"><a href="#">1531,07</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>1.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="https://pbs.twimg.com/media/CL4YRunWIAEXC-C.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>IBD Cycling</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li class="comment"><a href="#">1423,28</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>2.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://www.electrofit.fi/upload/uutiset/uutisbannerit/rhpaivatiso.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Electrofit</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li class="comment"><a href="#">1401,46</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>3.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://static-sls.aws.sanomacloud.net/www.menaiset.fi/s3fs-public/styles/medium_main_image_no_upscale/public/blog_images/p1150150.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Kestävyyttä pintakaasulla 24/7</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li class="comment"><a href="#">989,36</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>4.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>



            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://img.yle.fi/radio/ylepuhe/article7204048.ece/ALTERNATES/w960/Mikko%20Peltsi%20Peltola_kesa2014" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Peltsin Puhuvat Koirat</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li class="comment"><a href="#">878,10</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>5.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>



            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://finntriathlon.fi/app/uploads/2015/08/Sportyfeel-Finntriathlon-Tahko-342.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Finntriathlon</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li class="comment"><a href="#">0</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>6.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- //Hiihto -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('/download/2016/hiihto/hiihto1.jpgJ')">
                    <div class="banner-info">
                        <p class="sup">Haastekisa</p>
                        <h2>Hiihto 45km</h2>
                        <p class="sub">19.3.2016 Vuokatti, Sotkamo</p>
                        <div class="banner-grids">
                            <div class="banner-left">
                                <a href="#" class="text"></a>
                            </div>
                            <div class="banner-right">
                                <a href="#" class="text"></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>

    <div class="top-grids">
        <div class="container">


            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">2:12:21</a></li>
                            <li class="comment"><a href="#">955,34</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Simo-Viljami Ojanen</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>1.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/fitra/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">2:39:58</a></li>
                            <li class="comment"><a href="#">790,72</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/fitra/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Kalle Kotiranta</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>2.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>



            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/kpk/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">3:27:46</a></li>
                            <li class="comment"><a href="#">563,63</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Merja Kotanen</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>3.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">3:37:38</a></li>
                            <li class="comment"><a href="#">523,33</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Mikko Peltola</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>4.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://ibdcycling.fi/wp-content/uploads/2015/03/conny_karlsson.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">4:02:47</a></li>
                            <li class="comment"><a href="#">428,35</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('http://ibdcycling.fi/wp-content/uploads/2015/03/conny_karlsson.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Conny Karlsson</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>5.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">0</a></li>
                            <li class="comment"><a href="#">0</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Hannu Koivusalo</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>6.</p></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>






    <!-- //Luistelu -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('/download/2016/luistelu/IMG_0244.JPG')">
                    <div class="banner-info">
                        <p class="sup">Haastekisa</p>
                        <h2>Luistelu 30km</h2>
                        <p class="sub">30.1.2016 Oulunkylä, Helsinki</p>
                        <div class="banner-grids">
                            <div class="banner-left">
                                <a href="#" class="text"></a>
                            </div>
                            <div class="banner-right">
                                <a href="#" class="text"></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="banner-text"><p></p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="/download/haastekisa/luistelu/ibd.JPG"
                     alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">52:06</a></li>
                            <li class="comment"><a href="#">994,93</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('/download/haastekisa/luistelu/ibd.JPG')">
                        </div>
                        <div class="user-right">
                            <a href="#">Robert Brandt</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>1.</p></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/luistelu/fitra.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1.04.14</a></li>
                            <li class="comment"><a href="#">740,35</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/luistelu/fitra.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Sami Takala</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>2.</p></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/luistelu/electrofit.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1:21:49</a></li>
                            <li class="comment"><a href="#">446,12</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/luistelu/electrofit.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Janne Laakso</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>3.</p></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/luistelu/kpk.JPG" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1:23:12</a></li>
                            <li class="comment"><a href="#">425,73</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/luistelu/kpk.JPG')">
                        </div>
                        <div class="user-right">
                            <a href="#">Jarkko Koivunen</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>4.</p></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/luistelu/peltsi.JPG" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1.28.12</a></li>
                            <li class="comment"><a href="#">354,77</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/luistelu/peltsi.JPG')">
                        </div>
                        <div class="user-right">
                            <a href="#">Janne Ojala</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>5.</p></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/luistelu/finntriathlon.JPG" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">2.32.06</a></li>
                            <li class="comment"><a href="#">0,00</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/luistelu/finntriathlon.JPG')">
                        </div>
                        <div class="user-right">
                            <a href="#">Michael Quarshie</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="shape shape-red">
                        <div class="shape-right shape-red-left"><p>6.</p></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="text-banner">
                <div class="banner-info">
                    <p class="sup">Haastekisa</p>
                    <h2>Joukkueet</h2>
                </div>
            </div>
        </div>
    </div>



    <!-- Joukkue: IBD Cycling -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('https://pbs.twimg.com/media/CL4YRunWIAEXC-C.jpg')">
                    <div class="banner-info">
                        <p class="sup">Haastejoukkue</p>
                        <h2>IBD Cycling</h2>
                        <p class="sub">Kapteeni: Teemu Ramstedt</p>
                        <div class="banner-grids">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="banner-text"><p>Pyöräilyseura jonka tarkoituksena on lisätä tietoisuutta
                    suolistosairauksista ja
                    tuoda nostetta suomalaiselle pyöräilylle. Seuran vetäjänä toimii jääkiekkoilija Teemu Ramstedt.
                    Seuraan
                    kuuluu monia tunnettuja suomalaisia urheilijoita.</p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="http://img.yle.fi/urheilu/pikaluistelu/article6445865.ece/ALTERNATES/w960/Brandt%20Robert100113.jpg"
                     alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">52:06</a></li>
                            <li class="comment"><a href="#">994,93</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('http://img.yle.fi/urheilu/pikaluistelu/article6445865.ece/ALTERNATES/w960/Brandt%20Robert100113.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Robert Brandt</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://ibdcycling.fi/wp-content/uploads/2015/03/conny_karlsson.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('http://ibdcycling.fi/wp-content/uploads/2015/03/conny_karlsson.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Conny Karlsson</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4><a href="http://connykarlsson.com">connykarlsson.com</a></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="http://ibdcycling.fi/wp-content/uploads/2015/03/kimmo_kananen.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Juoksu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('http://ibdcycling.fi/wp-content/uploads/2015/03/kimmo_kananen.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Kimmo Kananen</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="http://ibdcycling.fi/wp-content/uploads/2015/02/teemu_Ramstedt_3.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Soutu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('http://ibdcycling.fi/wp-content/uploads/2015/02/teemu_Ramstedt_3.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Teemu Ramstedt</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="http://ibdcycling.fi/wp-content/uploads/2015/02/jussi_veikkanen.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Pyöräily</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left"
                             style="background-image: url('http://ibdcycling.fi/wp-content/uploads/2015/02/jussi_veikkanen.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Jussi Veikkanen</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="http://www.tuomomakela.com/kuvat/twitter-image.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Suunnistus</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('http://www.tuomomakela.com/kuvat/twitter-image.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Tuomo Mäkelä</a>
                            <p>IBD Cycling</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4><a href="http://www.tuomomakela.com/">tuomomakela.com</a></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>









    <!-- Joukkue: Fitbit -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('http://www.fitra.fi/application/files/4614/5249/7474/scroller-lito_960x480.jpg')">
                    <div class="banner-info">
                        <p class="sup">Haastejoukkue</p>
                        <h2>Fitra liikuttavaa luettavaa</h2>
                        <p class="sub">Kapteeni: Kalle Kotiranta</p>
                        <div class="banner-grids">
                            <div class="banner-right">
                                <a href="#" class="text">740,35 pistettä</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="banner-text"><p></p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/fitra/luistelu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1.04.14</a></li>
                            <li class="comment"><a href="#">740,35</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/fitra/luistelu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Sami Takala</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Sami on tunnettu tempauksistaan, hän on mm. hiihtänyt Pogostan hiihdon muovisilla minisuksilla ja Finlandian puusuksilla. Monipuolinen kestävyysmenijä on kiertänyt massahiihtoja, soutuja, juoksuja ja Kalevan kierroskin on tullut tutuksi. Sami on ykkösluokan diesel, joka saa itseoikeutetun kunnian avata kilpailun Fitran osalta.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/fitra/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/fitra/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Kalle Kotiranta</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Joukkueen kapteeni asettuu hiihtoladulle. Monipuolinen kestävyysliikkuja ja kynäniekka yrittää pitää joukkueen menestysmahdollisuudet hengissä vielä hiihdonkin jälkeen.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/juoksu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Juoksu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/juoksu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Sampsa Puikkonen</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/fitra/soutu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Soutu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/fitra/soutu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Mikko "Makko" Lahti</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Puuvenesoutulegenda, jonka palkintokaapissa on melkoinen määrä SM-metallia. Puuvenesoudun tekninen osaaminen on silmiä hivelevää ja Keuruu toimii viimeistelyharjoituksena Sulkavalle.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/fitra/pyoraily.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Pyöräily</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/fitra/pyoraily.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Juho Saarinen</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Lahden Pyöräilijöiden tykki tietää, miten pyörä liikkuu kovaa. Pyöräsuunnistuksessa MM-menestystäkin hankkinut Saarinen on myös aika-ajon SM-hopeamitalisti vuodelta 2014 ja SM-nelonen vuodelta 2015. Aja kovempaa!</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/fitra/juoksu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Suunnistus</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/fitra/juoksu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Marko Väisänen</a>
                            <p>Fitra liikuttavaa luettavaa</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Suunnistustaustainen kestävyyshirmu menee kovaa lajissa kuin lajissa. Näyttää pitkällä ja lennokkaalla askeleella perävaloja monelle menijälle Tuusulassa.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>







    <!-- Joukkue: Electrofit -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('http://www.electrofit.fi/upload/uutiset/uutisbannerit/rhpaivatiso.jpg')">
                    <div class="banner-info">
                        <p class="sup">Haastejoukkue</p>
                        <h2>Electrofit</h2>
                        <p class="sub">Kapteeni: Simo-Viljami Ojanen</p>
                        <div class="banner-grids">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="banner-text"><p></p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/luistelu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1:21:49</a></li>
                            <li class="comment"><a href="#">446,12</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/luistelu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Janne Laakso</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Simo-Viljami Ojanen</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Simo-Viljamilla on kilpahiihtotausta, joten lupa odottaa hyvää tulosta. Miehellä tulee viikossa
                        talvella keskimäärin 30 h pelkkää hiihdon opetusta, joten luulisi, että tekniikka on iskussa.
                        Saa
                        vaan nähdä miten happi kulkee.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/juoksu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Juoksu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/juoksu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Ville Keränen</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Ville on triathlon harrastaja ja innokas kestävyysurheilun kuluttaja. Juoksijana häntä ei toki
                        mikään hidastele. Vaan luvassa on varmaa kulkua!
                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/soutu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Soutu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/soutu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Heikki Palosuo</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Heikki omistaa kauniin soutuveneen ja hiihtomiehenä vene kulkee kevyesti! Heikki tulee lyömään
                        monta
                        miestä ällikällä kesän soutuosuudella!

                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/pyoraily.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Pyöräily</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/pyoraily.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Matti-Jussi Partanen
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Matti-Jussi on työmatkapyöräilija, jolla reisi ei ole ihmeissään kovemmastakaan vauhdista, sillä
                        työmatkatemmoissa hän on tottunut antamaan kaiken.

                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/suunnistus.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Suunnistus</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/suunnistus.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Vesa Arjovuo</a>
                            <p>Electrofit</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Joukkueen viisaus ja luotettavuus on rakennettu ankkurin varaan. Talven aikana Vuokattia kohti
                        laitetaan fysiikka kuntoon.

                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('http://static-sls.aws.sanomacloud.net/www.menaiset.fi/s3fs-public/styles/medium_main_image_no_upscale/public/blog_images/p1150150.jpg')">
                    <div class="banner-info">
                        <p class="sup">Haastejoukkue</p>
                        <h2>Kestävyyttä pintakaasulla 24/7</h2>
                        <p class="sub">Kapteeni: Jarkko Koivunen</p>
                        <div class="banner-grids">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="banner-text"><p>Kestävyyttä pintakaasulla 24/7 on viimeisen kolmen vuoden aikana noussut
                    yhdeksi
                    monista sosiaalisen median
                    vertaistukiverkoista. Se on kuitenkin kestävyysurheiluharrastajien piirissä
                    erittäin tunnettu, sillä se kokoaa yli kuusi tuhatta eri lajien harrastajaa jakamaan ajatuksia
                    kestävyyslajien harrastamiseen ja niissä kilpailemiseen liittyvissä aiheissa. Ryhmässä on myös monen
                    some-ryhmän tapaan syntynyt uusia tuttavuuksia
                    myös muualla kuin verkossa. Useissa tapahtumissa on tullut tutuksi oranssipaitaiset iloiset
                    liikkujat.
                    Ryhmää
                    voisikin kuvata iloisen ryhmäliikunnan verkkoversioksi.</p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/kpk/luistelu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1:23:12</a></li>
                            <li class="comment"><a href="#">425,73</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/luistelu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Jarkko Koivunen</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Jarkko Koivunen, Helsinki, 35-v., ohjelmistosuunnittelija, joka on harrastanut
                        kestävyysliikuntaa kymmenisen vuotta, mm. triathlonia ja maastohiihtoa. KPK-yhteisössä
                        mukana, koska se yhdistää kaltaisiani kestävyysurheilusta hullaantuneita. Kalevan kierrokselta
                        odotan itseltäni (ja joukkueelta) haasteita. Osallistun luisteluun, joka on minulle uudempi laji
                        eikä
                        se siis ole ihan helpoin laji itselleni. Pyöräily- ja luisteluhiihtotaustasta johtuen luistelu
                        ei kuitenkaan ole ihan täysin vieras laji, joten eiköhän tästä
                        kunnialla selvitä. Jätän sitten muulle joukkueelle parantamisen varaa.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/kpk/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Merja Kotanen</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Olen kohta 45v. yrittäjä iloisesta itä-suomesta ja rakastan hiihtoa. Hiihdon saralla, sitten aktiivisten nuoruusvuosien, elämyshiihtäjä, siksi mielelläni edustan KPK:ta.  Kesät vietän metsissä suunnistaen, mutta nykyään myös enimmässä määrin maanteillä juosten ja pyöräillen. Vuokatti hiihto käyty useampaan otteeseen, vaikka muutama välivuosi jäännyt  sairastelujen takia. Nyt palaan sinne innokkaana!!!</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/kpk/juoksu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Juoksu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/juoksu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Veikko Ollila</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Olen mukana KPK-joukkueessa, koska tässä facebook-ryhmässä
                        tulevat hienosti esille liikunnan ja kestävyysliikunnan hyvät puolet. Osaltani aloitin
                        maratonharrastuksen 49-vuotiaana ilman mitään liikuntataustaa. Nyt 13 vuotta myöhemmin on
                        kerättynä yli 500 maratonia (ks. www.100mc.fi). Motivaatiota on lisännyt se, että
                        kirjahyllyssä roikkuu nyt 8 veteraanisarjojen SM-mitalia. Näistä 2 on henkilökohtaisista
                        sijoituksista, loput on hankittu kestävyysliikuntaseura Häjyjen joukkueessa. Kalevan kierros on
                        tullut usein esille, mutta en ole aiemmin en ole osallistunut siihen. Odotan tältä
                        ensimmäisestä osallistumisesta ja osasuorituksestani uusia kokemuksia ja samoista asioista
                        kiinnostuneita tuttavuuksia.
                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/kpk/soutu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Soutu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/soutu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Jarmo Tuominen</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Jarmo "Jamppa" Tuominen on harrastanut pienvenesoutua yli 30 vuotta. Puheliaana kaverina
                        tunnettu Jamppa on eläkepäivinään löytänyt tiensä myös sosiaalisen median pariin ja olikin
                        ensimmäinen KPKn Kalevan kierroksen joukkueeseen liittynyt jäsen. Jampalla on 50+ ikäsarjan
                        voitto Sulkavalta vuoroveneestä vuodelta 2003. Nopeimmillaan vuorovene on kulkenut Partalan
                        saaren ympäri aikaan 5.42.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/kpk/pyoraily.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Pyöräily</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/pyoraily.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Tiina Krusberg</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Tiina Krusberg, 33v fysioterapeutti/fysiikkavalmentaja Helsingistä. 17 vuotta
                        muodostelmaluistelua SM- ja MM-tasolla. Nykyään triathlon/potkunyrkkeily/futista. KPK, koska
                        aktiiviuran jälkeen tärkeintä on fiilistellä, nauttia ja pitää hauskaa ilman sen kummempia
                        tavoitteita tai paineita (ainakin pääosin 😂). Kierrokselta ja ryhmältä odotan uusia kokemuksia
                        ja iloista yhteishenkeä mukavien liikunnallisten tyyppien kanssa

                        ...Ja tietty se pieni kisavietti asuu edelleen minussa, eli kiva päästä haastamaan muita
                        joukkueita :)</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/kpk/suunnistus.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Suunnistus</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/kpk/suunnistus.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Robert Amper</a>
                            <p>Kestävyyttä pintakaasulla 24/7</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Olen kolmekymppinen "hullu" suunnistaja Tampereelta. Tämä on se yleisin kuvaus jonka
                        tuttaviltani ja avovaimoltani saan ja pitäähän se pitkälti paikkansakkin :) Päälajini on tosiaan
                        suunnistus ja vaikka en olekkaan oman ikäryhmäni kirkainta kärkeä niin silti tulee vuodessa
                        suunnistus-startteja kilpailuissa ja iltarasteilla noin 100-150 kappaletta. Kuulun Tampereen
                        alueella toimivaan Koovee suunnistuseuraan jossa olen ollut jäsenenä noin vuoden, sitä ennen
                        suunnistin Turun Suunnistajien valko-oransseissa väreissä. Suunnistuksen lisäksi harrastan
                        hiihtoa, retkiluistelua, pyöräilyä, uintia ja tulee sitä salillakin käytyä noin kerran viikossa.
                        Ja tämän lisäksi vielä kaikki muukin kiva mitä vain ikinä keksiikin. Osallistuin viime vuonna
                        ensimmäistä kertaa koko Kalevan Kierrokseen kahden serkkuni kanssa ja lopullinen sijoitukseni
                        taisi olla jossain 60 hujakoilla. Odotan innolla miten tämä ryhmä tulee suoriutumaan urakasta ja
                        kaikille hyvää treenivuotta 2016.)</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>







    <!-- Joukkue: Peltsi -->
    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('http://img.yle.fi/radio/ylepuhe/article7204048.ece/ALTERNATES/w960/Mikko%20Peltsi%20Peltola_kesa2014')">
                    <div class="banner-info">
                        <p class="sup">Haastejoukkue</p>
                        <h2>Peltsin Puhuvat Koirat</h2>
                        <p class="sub">Kapteeni: Mikko Peltola</p>
                    </div>
                </div>
                <div class="banner-text"><p></p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/peltsi/luistelu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">1.28.12</a></li>
                            <li class="comment"><a href="#">354,77</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/peltsi/luistelu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Janne Ojala</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>47 v. Asuinpaikka Nummela, mutta juuriltaa vahvasti Etelä-Pohjalainen (ja Seinäjokinen). Kotona
                        kolme lasta ja vaimo.
                        Urheilun moniottelija joka jos ei itse urheile töllöttää sitä televisiosta. Omat saavutukset:
                        kuusi
                        maratonia, kuusi Finlandiahiihtoa, frisbeegolfin SM-joukkuehopeaa...Uusimmat tavoitteet
                        triathlonin
                        ja polkujuoksun puolella.
                        KPK:lainen somessa, mutta kun kuulin radiosta mahdollisuudesta päästä Peltsin tiimiin
                        kirjoittelin
                        heti hakemuksen. Luisteluun ei ilmeisesti ollut tungosta joten mullekin aukesi mahdollisuus :)
                        Kiitos siitä kapteenille.
                        Luistelua en ole harrastanut kuin rullilla satunnaisesti kesäisin ja jäillä lähinnä lähijäillä
                        höntsäillen eli tahdonvoimalla mennään niinkuin monesti ennenkin!
                        Toivotan kaikille kilpailijoille ja erityisesti oman joukkueemme jäsenille tsemppiä ja onnea
                        omissa
                        koitoksissaan! Toivottavasti nähdään joskus :)</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Mikko Peltola</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/peltsi/juoksu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Juoksu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/peltsi/juoksu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Riikka Pynnönen</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Intohimoni on tällä hetkellä juoksu! Vuosina 2011-2014 harrastin aktiivisesti maantiepyöräilyä.

                        Olen iloinen päästessäni tähän Peltsin Kalevan Kierrosjoukkueeseen, koska yli 10 vuotta jalkapalloa nuorempana harrastaneena sekä tiimissä pyöräillessäni tiedän, että treenaaminen yhteisen tavoitteen eteen antaa todella paljon lisäbuustia tekemiseen. Ja jos vaan joukkueemme antaa muillekin tsemppiä ja tekemisen iloa, ni mikäs sen parempi!

                        Oma tavoitteeni on juosta uusi ennätys Kalevan Kierroksen Tuusulan maratonilla 21.5.2016.</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/soutu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Soutu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/soutu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Mikko Räfsten</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/haastekisa/peltsi/pyoraily.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Pyöräily</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/peltsi/pyoraily.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Miio Mätäsaho</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>Jokaisen vuodenajan kaikkien kelien työmatkapyöräilijä joka viihtyy niin maastossa kuin maanteilläkin. Nopeat sorapohjaiset baanat ja talviset fatbike-sekoilut arvostan erityisen korkealle. Vuosittain osallistun sekä maasto- että maantiekuntotapahtumiin sekä lyhyen keskimatkan breveteille joko ryhmässä tai omatoimisesti. Joskus on tullut myös harrasteltua juoksemista ja osallistuttua joihinkin puolimaratoneihin.
                        Aiemmin fillaroinnin pääpaino on ollut fiilispohjalta ajelussa ja kestävyyden parantamisessa joten haastekisan aika-ajo on hyvä motivaattori kehnojen nopeusominaisuuksieni kehittämiseen. Kaiken kaikkiaan haastekisa on mukava mahdollisuus tutustua uusiin ihmisiin ja antaa kisatunnelman viedä mennessään!</h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/peltsi/suunnistus.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Suunnistus</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/peltsi/suunnistus.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Tuomas Seppälä</a>
                            <p>Peltsin Puhuvat Koirat</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4>
                        Olen toistaiseksi kolminkertainen Kalevan Kiertäjä. Parasta Kalevan Kierroksessa ovat kauden mittaan vaihtuvat lajit, jotka tuovat kestävyysliikuntaan mukavaa vaihtelua.

                        En ole koskaan ollut varsinainen kilpaurheilija, mutta olen harrastanut urheilua erilaisissa seuroissa ja itsekseni noin 35 vuotta. Lajeja ovat olleet mm. juoksu, jalka-, kaukalo- ja uppopallo, laskettelu, Kalevan Kierros ja yksipyöräily.

                        Vajaan kymmenen vuotta sitten aloin käydä iltarasteilla. Suunnistustaito on kehittynyt huimasti, mutta alhaisen lähtötason takia kehittymisen varaa on vielä vuosiksi.
                    </h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>










    <div class="banner-bg">
        <!-- container -->
        <div class="container">
            <div class="banner-back">
                <div class="banner"
                     style="background-image: url('http://finntriathlon.fi/app/uploads/2015/08/Sportyfeel-Finntriathlon-Tahko-342.jpg')">
                    <div class="banner-info">
                        <p class="sup">Haastejoukkue</p>
                        <h2>Finntriathlon</h2>
                        <p class="sub">Kapteeni: Antti Hagqvist</p>
                    </div>
                </div>
                <div class="banner-text"><p>Finntriathlon on syyllinen hyvin suurelta osalta Suomea ravisuttavaan
                    triathlon
                    buumiin. Finntriathlon järjestää viiden kilpailun triathlonsarjan joka kesä. Tähän sarjaan kuuluu
                    niin
                    perinteinen ja kuuluisin Joroisten kilpailu kuin Levin perusmatka ja Tahkon täysmatkakin.
                    Finntriathlonin tiimissä kilpailee Antin entisiä tai nykyisiä valmennettavia, kisakavereita ja
                    Finntriathlonin kanssa läheisesti tekemisissä olevia ihmisiä.</p>
                </div>
            </div>
        </div>
        <!-- //container -->
    </div>
    <!-- //banner -->
    <div class="top-grids">
        <div class="container">
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/luistelu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Luistelu 30km</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#">2.32.06</a></li>
                            <li class="comment"><a href="#">0,00</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/luistelu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Michael Quarshie</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/hiihto.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Hiihto</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/hiihto.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Hannu Koivusalo</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/juoksu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Juoksu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/juoksu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Juha Väre</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/images/soutu.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Soutu</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/soutu.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Timo Lappi/Lauri Pyykkönen</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid top-grid-left yellow">
                <img src="download/images/pyoraily.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Pyöräily</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/images/pyoraily.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Katja Väisänen</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 top-grid yellow">
                <img src="download/haastekisa/finntriathlon/suunnistus.jpg" alt=""/>
                <div class="top-grid-bottom">
                    <div class="photo">
                        <p>Suunnistus</p>
                    </div>
                    <div class="photo-right">
                        <ul>
                            <li><a href="#"></a></li>
                            <li class="comment"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="user top-grid-left-user">
                        <div class="user-left" style="background-image: url('download/haastekisa/finntriathlon/suunnistus.jpg')">
                        </div>
                        <div class="user-right">
                            <a href="#">Antti Hagqvist</a>
                            <p>Finntriathlon</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h4></h4>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


