<h3>Kalevan Kierroksen Hallitus 2016</h3>
<div class="hallitus row">
    <div class="col-md-3">
        <h4>Puheenjohtaja</h4>
        <h4>Osmo Ojala</h4>

        <p>Paloheinäntie 46 B<br/>
            00670 Helsinki<br/>
            050 - 3895 358</p>

        <p>
            <a href="javascript:void(location.href='mailto:'+String.fromCharCode(111,115,109,111,107,111,106,97,108,97,64,103,109,97,105,108,46,99,111,109)+'?')">osmokojala(at)gmail.com</a>
        </p>
        Kierroksella vuodesta 2005<br/>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="/download/images/Osmo.jpg"/>
    </div>
    <div class="col-md-3">
        <h4>Sihteeri</h4>
        <h4>Ilkka Kivi</h4>

        <p>Huutokiventie 12<br/>
            33960 Pirkkala<br/>
            puh. 040 - 545 6141</p>

        <p>
            <a href="javascript:void(location.href='mailto:'+String.fromCharCode(105,108,107,107,97,46,107,105,118,105,64,107,111,108,117,109,98,117,115,46,102,105))">ilkka.kivi(at)kolumbus.fi</a>
        </p>

        <p>
            Kierroksella vuodesta 1995
        </p>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" style="max-height: 220px" src="/download/images/ilkka.jpg"/></td>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Luistelu ja soutu</h4>
        <h4>Erkki Helminen</h4>

        <p>Hietarinteenkuja 7<br/>
            04320 Tuusula<br/>
            0400 - 577345</p>

        <p>
            <a href="javascript:void(location.href='mailto:'+String.fromCharCode(101,114,107,107,105,46,104,101,108,109,105,110,101,110,64,107,111,108,117,109,98,117,115,46,102,105))">erkki.helminen(at)kolumbus.fi</a>
        </p>

        <p>Kierroksella vuodesta 1990</p>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <h4>Hiihto</h4>
        <h4>Ari Ilola</h4>

        <p>Kaahintie 102<br/>
            32100 Ypäjä<br/>
            040 5956644</p>

        <p>
            <a href="mailto:ari.ilola@suomi24.fi">ari.ilola@suomi24.fi</a><br/>
        </p>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="/download/images/ari.JPG">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Juoksu</h4>
        <h4>Jupe Nurmela</h4>

        <p>040-9000074</p>

        <p>
            <a href="mailto:juhanurmela@gmail.com">juhanurmela@gmail.com</a><br/>
        </p>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="\download\images\jupe.jpg"/>
    </div>
    <div class="col-md-3">
        <h4>Pyöräily ja suunnistus</h4>
        <h4>Sanna Karjalainen</h4>

        <p>Hoijakantie 6<br/>
            47400 Kausala
        </p>

        <p>
            <a href="javascript:void(location.href='mailto:'+String.fromCharCode(107,97,114,106,97,108,97,105,110,101,110,46,115,97,110,110,97,64,103,109,97,105,108,46,99,111,109)+'?')">karjalainen.sanna(at)gmail.com</a><br/>
        </p>

        <p>Kierroksella vuodesta 2011</p>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Markkinointi ja tiedotus</h4>
        <h4>Anne Rasku</h4>

        <p>
            Valtuustokatu 6 D 41<br/>
            01370 Vantaa<br/>
            045-6017155</p>

        <p>
            <a href="javascript:void(location.href='mailto:'+String.fromCharCode(97,110,110,101,46,114,97,115,107,117,64,110,101,116,116,105,46,102,105))">anne.rasku(at)netti.fi</a><br/>
        </p>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="/download/images/Anne.jpg"/>
    </div>
    <div class="col-md-3">
        <h4>Kirjanpito, tulospalvelu, tilastot ja osoiterekisteri</h4>
        <h4>Mikko Fagerström</h4>

        <p>Mäkilän rantatie 91<br/>
            30100 Forssa<br/>
            puh. 040 - 541 9062</p>

        <p>
            <a href="javascript:void(location.href='mailto:'+String.fromCharCode(109,105,107,107,111,46,112,46,102,97,103,101,114,115,116,114,111,109,64,101,108,105,115,97,110,101,116,46,102,105,32))">mikko.p.fagerstrom(at)elisanet.fi </a><br/>
        </p>

        <p>Kierroksella vuodesta 1985</p>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Webmaster</h4>
        <h4>Olli-Pekka Pohjola</h4>

        <p>
            Tampere<br/>
            044 - 998 6633</p>

        <p>
            <a href="mailto:oopee@iki.fi">oopee@iki.fi</a>
        </p>

        <p>Kierroksella vuodesta 2005</p>
    </div>
    <div class="col-md-3">
        <img class="img-responsive"
             src="https://dl.dropboxusercontent.com/u/54544574/assets/2015-08-23%2019.54.13.jpg"/></td>
    </div>
</div>
<div class="row">
    <h4>Erityistehtävät</h4>
</div>
<div class="row">
    <div class="col-md-3">
        <h4>Toiminnantarkastaja</h4>
        <h4>Klaus Kuusi</h4>

        <p> Kierroksella vuodesta 1977</p>
    </div>
    <div class="col-md-3">
        <h4>Toiminnantarkastaja</h4>

        <h4>Risto Viitanen</h4>

        <p>KTM</p>

        <p>Tuusula</p>

        <p>Kierroksella vuodesta 1977</p>
    </div>
</div>
<div class="row">
    <div>
        <p><i>Ylläolevissa osoitteissa (at)-merkki on sähköpostia lähetettäessä
            korvattava</i> <span style="font-style: italic;">@</span><i>-merkillä!</i></p>
    </div>
</div>
