<div class="col-lg-8">
  <h1>
    Kalevan Kierroksen hallituksen kokoukset<br />
    &nbsp;</h1>
  <p>
    &nbsp;</p>
  <p>
    <strong>Hallitus 2013</strong></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=218">Kokous 30.9.2013</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=208">Kokous 26.8.2013</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=198">Kokous 3.6.2013</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=192">Kokous 20.4.2013</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=189">Kokous 11.2.2013</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=176">Kokous 4.12.2012</a></p>
  <p>
    &nbsp;</p>
  <p>
    &nbsp;</p>
  <p>
    &nbsp;</p>
  <p>
    <strong>Hallitus 2012</strong></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=164">Kokous 20.8.2012</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=158">Kokous 11.6.2012</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=148">Kokous 13.4.2012</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=136">Kokous 30.11.2011</a></p>
  <p>
    &nbsp;</p>
  <p>
    <br />
    <br />
    <br />
    <strong>Hallitus 2011</strong></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=126">Kokous 10.10.2011</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=118">Kokous 22.8.2011</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=100">Kokous 13.6.2011</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=94">Kokous 8.4.2011</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=86">Kokous 10.02.2011</a></p>
  <p>
    <a href="http://www.kalevankierros.fi/fi/?newspage=99">Kokous 1.12.2010</a></p>
  <p>
    <br />
    &nbsp;</p>

</div>
