<div class="col-lg-8">
  <h1>
    Hiihdon lajikuvaus</h1>

  <p>
    <strong>Kierroksen hiihdon voi suorittaa kummalla tyylill&auml; haluaa: perinteisell&auml; tai vapaalla.</strong>
  </p>

  <p>
    L&auml;hes kaikki suomalaiset omistavat sukset, joten lienee yleisesti tiedossa, ett&auml; suksien pit&auml;&auml;
    olla sopivat ennen muuta pituudeltaan ja j&auml;ykkyydelt&auml;&auml;n. My&ouml;s sauvojen on hyv&auml; olla oikean
    mittaiset. Suksien voitelu on oma v&auml;linekysymyksens&auml;.
    <a href="http://www.startex.fi/" target="_blank">Startin</a> ja
    <a href="http://www.vauhti.fi/" target="_blank">Vauhdin</a> www-sivuilla julkaistaneen r&auml;&auml;t&auml;l&ouml;ityj&auml;
    voiteluohjeita muutamaa p&auml;iv&auml;&auml; ennen kisaa ja my&ouml;s paikan p&auml;&auml;ll&auml; kisakeskuksessa
    voi voiteluttaa suksensa, jollei luota omiin taitoihinsa. Kilpailuasuna on yleisesti hiihtotrikoo, joka soveltuu
    hyvin luisteluasuksikin, mutta my&ouml;s hengitt&auml;v&auml; tuulipuku tai vastaava ajaa hyvin asiansa. Perinteisen
    hiihtotavan kisaan kannattaa ottaa pitovoidepurkki mukaan taskuun.</p>

  <p>
    Hiihtoharjoittelun voi aloittaa jo syksyll&auml; sauvalenkkien muodossa, ja hiiht&auml;m&auml;&auml;n kannattaa
    ryhty&auml; heti lumentulon my&ouml;t&auml;. Pitk&auml;t ja rauhalliset, peruskest&auml;vyytt&auml; kehitt&auml;v&auml;t
    yli kolmenkymmenen kilometrin mittaiset lenkit ovat keskeisi&auml;.<br/>
    <br/>
    <br/>
    &nbsp;</p>

</div>
