<h1>Test page!</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= bootstrap_form_tag url: '/subscribe' do |f| %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.submit %>
<% end %>
