<div class="col-lg-8">
  <h1>Ilmoittautuminen</h1>

  <p>Kalevan Kierrokselle ilmoittaudutaan netin kautta. Seuraavat ohjeet koskevat niin vanhoja, kuin uusia kiertäjiä.</p>

  <h3>Osanottomaksuun sisältyy</h3>

  <p>Mitali, diplomi, eri sarjoissa jaettavat palkinnot sekä tapaturmavakuutus, joka käsittää kaikki kuusi osakilpailua ja on voimassa kilpailujen aikana sekä välittömillä kilpailumatkoilla.</p>



  <h3>Kierroksen osalajit</h3>

  <p>Kalevan Kierrokseen ilmoittautumisen jälkeen ovat sitten vuorossa Kierroksen osalajit. Niihin ilmoittaudutaan ja maksetaan osallistumismaksut erikseen. Osalajien kilpailukutsut ja ilmoittautumisohjeet tulevat Kierroksen sivuille, kun osalaji alkaa olla ajankohtainen. Osakilpailuista peritään osallistumismaksu, joka on yleensä noin 35 euron suuruinen.</p>

</div>
