<div class="col-lg-8">
  <h1>
    Juoksun lajikuvaus</h1>

  <p>
    <strong>Kalevan Kierroksen juoksun voit suorittaa joko juoksemalla puolimaratonin tai maratonin.</strong></p>

  <p>
    Maraton on kaikkien tuntema, klassisesti 42,195 km pitk&auml; juoksu, puolimaraton on pituudeltaan 21,1 km. Matkat
    juostaan p&auml;&auml;osin asfalttitiell&auml;, jolla ei tavallisesti ole merkitt&auml;vi&auml; korkeuseroja.</p>

  <p>
    Juoksuvarusteet ovat yksinkertaisia ja suhteellisen halpoja. Hyvi&auml; juoksukenki&auml; silti suositellaan, sill&auml;
    vaikka maratonista selvi&auml;&auml; l&auml;hes millaisilla tossuilla hyv&auml;ns&auml;, runsas juoksuharjoittelu
    sopimattomilla jalkineilla saattaa jalat huonoon kuntoon. Kilpailuasuksi k&auml;yv&auml;t shortsit, trikoot,
    verkkarit &ndash; makuasia, s&auml;&auml;olot ratkaisevat.</p>

  <p>
    Maratonilla on rauhallinen liikkeellel&auml;ht&ouml; keskeist&auml;. Yleens&auml; sanotaan, ett&auml; 25 kilometrin
    j&auml;lkeen on turvallista kirist&auml;&auml; vauhtia, jos silt&auml; tuntuu. Tasainen rytmi ja riitt&auml;v&auml;st&auml;
    nesteensaannista huolehtiminen johtavat parhaaseen tulokseen.</p>

  <p>
    Maraton on hyvin raskas juoksu ja siihen valmistautuminen kannattaa aloittaa jo talvella. Liukkaalla alustalla
    juoksua tulee silti v&auml;ltt&auml;&auml; etenkin, jos ei omista nastoilla varustettuja juoksukenki&auml;. Koska
    maraton juostaan asfaltilla, my&ouml;s harjoittelussa pit&auml;isi totuttaa jalat kovaan juoksualustaan. Hiihdon j&auml;lkeen
    ei ole liikaa aikaa valmistautua maratoniin, mutta lyhyempien lenkkien ohella pit&auml;isi pyrki&auml; juoksemaan my&ouml;s
    kolme pidemp&auml;&auml; (n. 30km) lenkki&auml;; ne riitt&auml;v&auml;tkin jo pitk&auml;lle. Ohjeita maratonille
    valmistautumiseen l&ouml;ytyy nykyisin monesta paikasta &ndash;esim.
    <a href="http://www.juoksija-lehti.fi/" target="_blank">Juoksija-lehden www-sivut</a>.</p>

  <p>
    <br/>
    <br/>
    <br/>
    &nbsp;</p>


</div>
