<div class="col-lg-8">
  <h1>Kalevan Kierros</h1>

  <p class="lead">Kalevan Kierros on kuuden kestävyyslajin kunto- ja kilpaurheilutapahtuma. Kierros motivoi kuntoilijaa säännölliseen
  liikkumiseen ja koettelee urheilijaa erilaisilla vaatimuksillaan. Harjoittelu ei ole yksipuolista, kun kilpailulaji
  vaihtuu säännöllisesti noin kahden kuukauden välein.</p>

  <p>Kierros lähtee käyntiin, kun tammi-helmikuun vaihteessa luistellaan 30 kilometriä. Sen jälkeen on noin kuukausi aikaa
  hioa hiihtokunto huippuunsa ja valmistautua 45 km:n rypistykseen. Toukokuun lopulla juostavaan maratoniin tai
  puolimaratoniin ei ole sitten aikaa valmistautua kuin puolitoista kuukautta, joten aika kannattaa käyttää tarkoin
  hyödyksi. Kesä-heinäkuun vaihteessa soudettava 30 kilometriä on aina yhtä kova ja palkitseva urakka, jonka jälkeen
  saakin polkea kauneimman kesän ajan pyörää, valmistautuessaan elokuun puolivälin tienoilla ajettavaan 65 kilometrin
  pyöräilykisaan. Pyöräilyn jälkeen on taas seitsemän viikkoa aikaa valmistautua n. 15 kilometrin suunnistukseen, mutta
  rasteilla on ollut syytä käydä jo keväästä alkaen!</p>


  <h2>TULE JA IHASTU KALEVAN KIERROKSEEN !</h2>

</div>
