<h1>Kierroksen hallinta</h1>
<% if enrollment_open? %>
  <%= button_to('Sulje ilmoittautuminen', kk_enrollment_change_path, :class => "btn btn-danger") %>
<% else %>
  <%= button_to('Avaa ilmoittautuminen', kk_enrollment_change_path, :class => "btn btn-success") %>
<% end %>
<br>
<%= button_to('Näytä ilmoittautumiset', kk_enrollments_path, method: :get, :class => "btn btn-primary") %>
