<h1>Kierroksen hallinta</h1>
<%= button_to('Avaa ilmoittautuminen', root_path, method: :get) %>
<br>
<%= button_to('Sulje ilmoittautuminen', root_path, method: :get) %>
<br>
<%= button_to('Näytä ilmoittautumiset', kk_enrollments_path, method: :get) %>
