<div class="col-lg-12">
<br/>
<ul class="nav nav-tabs">
  <li class="active"><a href="#luistelu" data-toggle="tab">Luistelu</a></li>
  <li><a href="#hiihto" data-toggle="tab">Hiihto</a></li>
  <li><a href="#juoksu" data-toggle="tab">Juoksu</a></li>
  <li><a href="#soutu" data-toggle="tab">Soutu</a></li>
  <li><a href="#pyöräily" data-toggle="tab">Pyöräily</a></li>
  <li><a href="#suunnistus" data-toggle="tab">Suunnistus</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane active" id="luistelu"><h1>
  Luistelun lajikuvaus</h1>

  <p>
    <br/>
    Pikaluistimet soveltuvat rataluisteluun parhaiten, kun haluaa pit&auml;&auml; vauhtia yll&auml;. Aloittelijoille on
    olemassa nilkkaa tukevia malleja, joilla on aluksi helpompi pit&auml;&auml; tasapaino kuin nahkakenk&auml;isill&auml;
    kevyill&auml; malleilla. Viime aikoina ovat nousseet suosioon ns. klapsit, joissa luistimen ter&auml; on kiinni
    ainoastaan k&auml;rkipuolelta ja irtoaa kannasta saranan varassa. Klapsit ovat melko kalliita, mutta antavat
    anteeksi puutteita luistelutekniikassa. Pikaluistinten melko jyrkk&auml; ter&auml;n k&auml;rki vastaa herk&auml;sti
    j&auml;&auml;n ep&auml;tasaisuuksiin, joten niill&auml; on oltava erityisen tarkkana j&auml;&auml;n pinnan suhteen.
  </p>

  <p>
    Pitk&auml;t retkiluistinter&auml;t on suunniteltu luonnonj&auml;&auml;luisteluun. Ne kiinnitet&auml;&auml;n
    tavallisiin hiihtomonoihin. Luisteluasento retkiluistimilla on pystympi eik&auml; niill&auml; pysty yht&auml; kovaan
    vauhtiin kuin pikaluistimilla, mutta niiden pitk&auml; ter&auml; ja loiva ter&auml;n k&auml;rki takaavat
    pikaluistimia varmemman kulun ep&auml;tasaisella j&auml;&auml;ll&auml;.</p>

  <p>
    <strong>My&ouml;s hokkareilla matkasta selvi&auml;&auml;, kun sinnikkyytt&auml; ja k&auml;rsiv&auml;llisyytt&auml;
      vain riitt&auml;&auml;.</strong></p>

  <p>
    Pukeutumisessa kannattaa kiinnitt&auml;&auml; huomiota asun virtaviivaisuuteen. Kyp&auml;r&auml; ei ole kilpailussa
    pakollinen, mutta sit&auml; ja my&ouml;s polvi- ja kyyn&auml;rsuojuksia suositellaan.</p>

  <p>
    Luistelussa ratkaisee luistelutekniikka paljon. Parhaiten tekniikan oppii kursseilla. Voi koittaa my&ouml;s j&auml;ljitell&auml;
    taitavampia luistelijoita. Perusasioita luistelutekniikassa ovat mm. ett&auml; jalkojen tulisi olla puoli-istuvassa
    asennossa ja kehon painon kantap&auml;ill&auml;. Luistelupotku l&auml;htee sivulle, ei taakse, ja sit&auml; seuraa
    rauhallinen liuku. Kaarreluistelutekniikkaan on t&auml;rke&auml; panostaa.</p></div>
<div class="tab-pane" id="hiihto"><h1>
  Hiihdon lajikuvaus</h1>

  <p>
    <strong>Kierroksen hiihdon voi suorittaa kummalla tyylill&auml; haluaa: perinteisell&auml; tai vapaalla.</strong>
  </p>

  <p>
    L&auml;hes kaikki suomalaiset omistavat sukset, joten lienee yleisesti tiedossa, ett&auml; suksien pit&auml;&auml;
    olla sopivat ennen muuta pituudeltaan ja j&auml;ykkyydelt&auml;&auml;n. My&ouml;s sauvojen on hyv&auml; olla oikean
    mittaiset. Suksien voitelu on oma v&auml;linekysymyksens&auml;.
    <a href="http://www.startex.fi/" target="_blank">Startin</a> ja
    <a href="http://www.vauhti.fi/" target="_blank">Vauhdin</a> www-sivuilla julkaistaneen r&auml;&auml;t&auml;l&ouml;ityj&auml;
    voiteluohjeita muutamaa p&auml;iv&auml;&auml; ennen kisaa ja my&ouml;s paikan p&auml;&auml;ll&auml; kisakeskuksessa
    voi voiteluttaa suksensa, jollei luota omiin taitoihinsa. Kilpailuasuna on yleisesti hiihtotrikoo, joka soveltuu
    hyvin luisteluasuksikin, mutta my&ouml;s hengitt&auml;v&auml; tuulipuku tai vastaava ajaa hyvin asiansa. Perinteisen
    hiihtotavan kisaan kannattaa ottaa pitovoidepurkki mukaan taskuun.</p>

  <p>
    Hiihtoharjoittelun voi aloittaa jo syksyll&auml; sauvalenkkien muodossa, ja hiiht&auml;m&auml;&auml;n kannattaa
    ryhty&auml; heti lumentulon my&ouml;t&auml;. Pitk&auml;t ja rauhalliset, peruskest&auml;vyytt&auml; kehitt&auml;v&auml;t
    yli kolmenkymmenen kilometrin mittaiset lenkit ovat keskeisi&auml;.</p></div>
<div class="tab-pane" id="juoksu"><h1>
  Juoksun lajikuvaus</h1>

  <p>
    <strong>Kalevan Kierroksen juoksun voit suorittaa joko juoksemalla puolimaratonin tai maratonin.</strong></p>

  <p>
    Maraton on kaikkien tuntema, klassisesti 42,195 km pitk&auml; juoksu, puolimaraton on pituudeltaan 21,1 km.
    Matkat
    juostaan p&auml;&auml;osin asfalttitiell&auml;, jolla ei tavallisesti ole merkitt&auml;vi&auml;
    korkeuseroja.</p>

  <p>
    Juoksuvarusteet ovat yksinkertaisia ja suhteellisen halpoja. Hyvi&auml; juoksukenki&auml; silti suositellaan,
    sill&auml;
    vaikka maratonista selvi&auml;&auml; l&auml;hes millaisilla tossuilla hyv&auml;ns&auml;, runsas
    juoksuharjoittelu
    sopimattomilla jalkineilla saattaa jalat huonoon kuntoon. Kilpailuasuksi k&auml;yv&auml;t shortsit, trikoot,
    verkkarit &ndash; makuasia, s&auml;&auml;olot ratkaisevat.</p>

  <p>
    Maratonilla on rauhallinen liikkeellel&auml;ht&ouml; keskeist&auml;. Yleens&auml; sanotaan, ett&auml; 25
    kilometrin
    j&auml;lkeen on turvallista kirist&auml;&auml; vauhtia, jos silt&auml; tuntuu. Tasainen rytmi ja riitt&auml;v&auml;st&auml;
    nesteensaannista huolehtiminen johtavat parhaaseen tulokseen.</p>

  <p>
    Maraton on hyvin raskas juoksu ja siihen valmistautuminen kannattaa aloittaa jo talvella. Liukkaalla alustalla
    juoksua tulee silti v&auml;ltt&auml;&auml; etenkin, jos ei omista nastoilla varustettuja juoksukenki&auml;.
    Koska
    maraton juostaan asfaltilla, my&ouml;s harjoittelussa pit&auml;isi totuttaa jalat kovaan juoksualustaan. Hiihdon
    j&auml;lkeen
    ei ole liikaa aikaa valmistautua maratoniin, mutta lyhyempien lenkkien ohella pit&auml;isi pyrki&auml;
    juoksemaan my&ouml;s
    kolme pidemp&auml;&auml; (n. 30km) lenkki&auml;; ne riitt&auml;v&auml;tkin jo pitk&auml;lle. Ohjeita maratonille
    valmistautumiseen l&ouml;ytyy nykyisin monesta paikasta &ndash;esim.
    <a href="http://www.juoksija-lehti.fi/" target="_blank">Juoksija-lehden www-sivut</a>.</p></div>
<div class="tab-pane" id="soutu"><h1>
  Soudun lajikuvaus</h1>

  <p>
    Kierroksen soutu suoritetaan joko yksinsoutuna tai vuorosoutuna. Vuorosoudussa venekunnan toinen j&auml;sen meloo
    toisen soutaessa.</p>

  <p>
    Soutuvene on ns. savolaismallinen puuvene erotuksena olympialuokan veneist&auml;, mutta my&ouml;s lasikuituveneell&auml;
    saa halutessaan soutaa. Sit&auml; ei voi kuitenkaan suositella! Veneess&auml; on hyv&auml; olla liukupenkki.
    Soutuvene on melko suuri investointi eiv&auml;tk&auml; kaikki ole halukkaita sellaiseen heti sijoittamaan. Veneit&auml;
    tarjotaankin my&ouml;s vuokralle ja k&auml;ytettyj&auml;kin veneit&auml; on kaupan. Seuraa KK-Foorumia ja kysy sielt&auml;.</p>

  <p>
    Soutuasu tulee valita s&auml;&auml;n mukaan: esim. sateen uhatessa kannattaa varautua m&auml;rk&auml;n&auml;kin l&auml;mmitt&auml;v&auml;ll&auml;,
    tuulenpit&auml;v&auml;ll&auml; vaatetuksella. K&auml;sineiden suhteen on vallalla kaksi koulukuntaa, joista toisen
    edustajat soutavat niiden kanssa ja toiset ilman. Oman n&auml;kemyksen luominen kannattaa aloittaa varman p&auml;&auml;lt&auml; &ndash;
    esim. ohuet hiihtok&auml;sineet ovat hyv&auml;t. Veneess&auml; on hyv&auml; olla pumppu tai &auml;ysk&auml;ri.</p>

  <p>
    Oikean soututekniikan hallitseminen on eritt&auml;in t&auml;rke&auml; osa hyv&auml;&auml; suoritusta. Ilman
    soutamisen rentoutta ja ns. taloudellisuutta noin kolmen tunnin soutu muuttuu jo kisan alkupuoliskolla v&auml;kin&auml;iseksi
    airojen kiskomiseksi.</p>

  <p>
    Hyv&auml; soutaja k&auml;ytt&auml;&auml; koko kroppaansa: veto alkaa pumppaamalla reisilihaksilla jolloin k&auml;det
    ovat viivasuorat ja levossa ja selk&auml; lukittuneena. Pian jalkaty&ouml;n loppuvaiheen aikana selk&auml;
    suoristetaan ja vasta sitten k&auml;det tekev&auml;t lopputy&ouml;n. Koko liikesarjan tulisi olla kiihtyv&auml; eli
    k&auml;sien osuus ty&ouml;st&auml; on hyvin lyhyt ja melko vaatimaton. Vahvat jalat ja selk&auml; ovat p&auml;&auml;roolissa
    vetovaiheessa. Palautusvaiheen olennainen osa on palautuminen: vedon loppuasennosta k&auml;det vied&auml;&auml;n
    nopeasti mutta rennosti polvien ohi ja vasta sitten palautetaan selk&auml; ja jalat vedon alkuasentoon.</p>

  <p>
    Huom! Airoilla ei koukita syv&auml;lt&auml; vaan pelkk&auml; airojen pudotus veteen riitt&auml;&auml;.</p>

  <p>
    Vuorosoutuveneen meloja ei lep&auml;&auml; eik&auml; sy&ouml; ev&auml;it&auml; veneen per&auml;ss&auml;. Tankkaus on
    t&auml;ss&auml;kin lajissa pikainen toimitus ja tapahtuu melomisen aikana. Meloja tekee l&auml;hes yht&auml; paljon
    t&ouml;it&auml; kuin soutaja sill&auml; ilman tehokasta melomista vuorosoutuvene ui syv&auml;ll&auml; ja kunnon
    vauhtiin p&auml;&auml;sy on mahdotonta. L&ouml;yd&auml; melontaan hyv&auml; tasapaino, mist&auml; on palkintona
    soutamisen helppous. Melojan tulee kurottaa mela niin pitk&auml;lle eteens&auml; veteen kuin pystyy, kunhan
    takapuoli pysyy aivan penkin reunassa. Tahdin on oltava ehdottomasti sama kuin soutajalla: mela laitetaan veteen ja
    otetaan vedest&auml; samaan aikaan kuin airot. Melojan tehokas veto loppuu kun mela on ohittanut melojan
    lantion &ndash; eli veden viskominen taivaalle tai per&auml;ss&auml; tulevan veneen sis&auml;lle on turhaa. Opettele
    soutamaan molemmilla k&auml;sill&auml; p&auml;&auml;llimm&auml;isen&auml; sek&auml; melomaan molemmilta puolilta
    venett&auml; &ndash; erityisesti tuulisella s&auml;&auml;ll&auml; on n&auml;ist&auml; taidoista
    hy&ouml;ty&auml;.</p></div>
<div class="tab-pane" id="pyöräily"><h1>
  Py&ouml;r&auml;ilyn lajikuvaus</h1>

  <p>
    <strong>Kierroksen py&ouml;r&auml;ilykilpailussa poljetaan aika-ajona noin 65 kilometrin matka. </strong>Py&ouml;r&auml;ilysuoritus
    on henkil&ouml;kohtainen: startti tapahtuu v&auml;liaikal&auml;hd&ouml;in ja muiden py&ouml;r&auml;ilij&ouml;iden
    peesaaminen on kielletty&auml;. Ajoalustana on asfalttip&auml;&auml;llysteinen maantie.</p>

  <p>
    <strong>Ajoon soveltuu parhaiten kilpapy&ouml;r&auml;, mutta my&ouml;s tavallisella retkipy&ouml;r&auml;ll&auml; tai
      maastopy&ouml;r&auml;ll&auml; matkasta selvi&auml;&auml; kyll&auml;.</strong> Ohjaustankoon kiinnitett&auml;v&auml;
    aika-ajotanko, ns. lepuuttaja, on hyv&auml; matalan ajoasennon s&auml;ilytt&auml;miseen; tarkasta kuitenkin, ett&auml;
    sen keulimmainen piste on alle 75 cm p&auml;&auml;ss&auml; poljinkeski&ouml;st&auml; vedetyst&auml; pystylinjasta.
    Kyp&auml;r&auml; on py&ouml;r&auml;ilyss&auml; pakollinen.</p>

  <p>
    Matkan varrelle kilpailun j&auml;rjest&auml;j&auml; varustaa huoltopisteit&auml;, mutta tarvittava neste kannattaa
    varata mukaan juomapulloihin, ettei matkalla tarvitse pys&auml;hdell&auml; suotta. Juomapulloja voi tarvittaessa t&auml;ytt&auml;&auml;
    huoltopisteill&auml;. Matkan varrella tapahtuvaan rengasrikkoon kannattaa varautua paikkausv&auml;lineill&auml; tai
    vararenkaalla. Joillekin on osoittautunut tarpeen kaksikin vararengasta. Muista my&ouml;s pumppu! Renkaanvaihtoa
    tai &ndash;paikkausta kannattaa harjoitella etuk&auml;teen.</p>

  <p>
    Py&ouml;r&auml;ilytekniikan suhteen on polkimien py&ouml;ritystekniikka lukkopolkimien avulla keskeist&auml; ja sit&auml;
    kannattaa harjoitella: polkimiin pit&auml;isi pysty&auml; v&auml;litt&auml;m&auml;&auml;n voimaa poljinkierroksen
    jokaisessa vaiheessa &ndash; tai v&auml;hint&auml;&auml;nkin kevent&auml;m&auml;&auml;n yl&ouml;sp&auml;in nousevaa
    poljinta. Polkupy&ouml;r&auml;ll&auml; voi tehd&auml; pitki&auml;kin lenkkej&auml; tarvitsematta pel&auml;t&auml;,
    ett&auml; niist&auml; palautuminen veisi tolkuttomia aikoja. Pitk&auml;hk&ouml;t lenkit ovatkin keskeisimpi&auml;
    harjoittelussa. Pelkill&auml; pitkill&auml; harjoituslenkeill&auml; selvi&auml;&auml; kyll&auml; kilpailumatkasta,
    mutta parhaaseen tulokseen p&auml;&auml;semiseksi on hyv&auml; polkea my&ouml;s kovempivauhtisia lenkkej&auml;.</p>
</div>
<div class="tab-pane" id="suunnistus"><h1>

  Suunnistuksen lajikuvaus</h1>

  <p>
    Suunnistuksessa k&auml;yd&auml;&auml;n karttaan merkityt rastit numeroj&auml;rjestyksess&auml; kompassia apuna k&auml;ytt&auml;en.
    <strong>Kierroksen suunnistuksessa reitin pituudeksi kertyy noin 15 kilometri&auml;. </strong><br/>
    <br/>
    Kalevan Kierroksen suunnistus juostaan yhteis- tai v&auml;liaikal&auml;ht&ouml;n&auml; ratamestarin laatimien
    hajontojen mukaan. V&auml;lill&auml; voidaan poiketa kilpailukeskuksessa vaihtamassa karttaa. Suunnistus on yksil&ouml;suoritus,&nbsp;vaikka
    mets&auml;&auml;n l&auml;hdett&auml;isiinkin yhteisl&auml;hd&ouml;ll&auml;.&nbsp;Erilaiset hajonnat takaavat sen,
    ett&auml; ymp&auml;rill&auml; olevat kanssakilpailijat eiv&auml;t v&auml;ltt&auml;m&auml;tt&auml; kierr&auml;
    kaikkia rastiv&auml;lej&auml; samassa j&auml;rjestyksess&auml;.</p>

  <p>
    Varusteista keskeisin on kompassi, mutta my&ouml;s suunnistuskeng&auml;t ja -asu ovat suositeltavia, koska ne eiv&auml;t
    ime vett&auml; eiv&auml;tk&auml; repeydy helposti pusikoissa.</p>

  <p>
    Kierroksen suunnistuksessa k&auml;ytet&auml;&auml;n elektronista kilpailukorttia (Emit), jolle tallentuvat
    rastileimaukset v&auml;liaikoineen. Kortti puretaan maalissa tietokoneelle sen toteamiseksi, onko kaikki rastit
    kierretty ja viel&auml;p&auml; oikeassa j&auml;rjestyksess&auml;. Kilpailussa voi k&auml;ytt&auml;&auml; omaa
    korttia tai kortin voi vuokrata kilpailunj&auml;rjest&auml;j&auml;lt&auml;.</p>

  <p>
    On muistettava sovittaa juoksuvauhti oman taitotason mukaiseksi ja
    <strong>edet&auml; suunnistustaidon ehdoilla</strong>. Kilpailussa kannattaa pit&auml;&auml; mieless&auml;, ett&auml;
    matka on pitk&auml;, joten reitinvalinnat on teht&auml;v&auml; huolella. Suuria m&auml;ki&auml; kannattaa monesti
    kiert&auml;&auml; ennemmin kuin kavuta niiden yli. Tasainen rytmi ja huolellinen kartanluku johtavat parhaaseen
    suoritukseen. Keskity omaan suunnistamiseesi &ndash; muiden taitoihin ei aina ole luottamista!</p>

  <p>
    Suunnistuksessa on suunnistustaito kaiken A ja O &ndash; mutta my&ouml;s juoksukuntoa tarvitaan, ettei keskittyminen
    p&auml;&auml;sisi v&auml;symisen vuoksi herpaantumaan. Kest&auml;&auml;h&auml;n suoritus monen tunnin ajan. Taitojen
    harjaannuttamiseen hyvin soveltuvia kuntorasteja j&auml;rjestet&auml;&auml;n l&auml;hes kaikkialla Suomessa kev&auml;&auml;st&auml;
    alkaen, heti lumipeitteen hieman laskettua, ja niit&auml; kannattaa hy&ouml;dynt&auml;&auml;. Suunnistusjuoksu k&auml;y
    my&ouml;s maratonharjoittelusta. Monet seurat j&auml;rjest&auml;v&auml;t etenkin kev&auml;isin suunnistuskouluja,
    joilla opetetaan perustaitoja. Suunnistusseuroista saa my&ouml;s opastusta ja neuvoja &ndash; kannattaa
    kysy&auml;.</p></div>
</div>

</div>

