<div class="col-lg-8">
  <h1 style="text-align: left;">
    Kalevan kierroksen linkkivinkit</h1>

  <p>
    T&auml;nne ker&auml;t&auml;&auml;n linkkej&auml;, jotka liittyv&auml;t jollain tavalla Kierroksen lajeihin. L&auml;hetelk&auml;&auml;
    linkkivinkkej&auml; palautelomakkeella. Lajiliittojen/j&auml;rjest&auml;jien sivuilla on my&ouml;s hyvi&auml;
    linkkej&auml;, joten kannattaa k&auml;ytt&auml;&auml; niit&auml; hyv&auml;ksi. T&auml;&auml;lt&auml; p&auml;&auml;see
    kuitenkin hyvin liikkeelle!</p>

  <p>
    &nbsp;</p>

  <h3>
    <a name="Luistelu">Luistelu</a></h3>
  <ul>
    <li>
      <a href="http://www.luisteluliitto.fi/" target="_blank">Luisteluliitto</a></li>
    <li>
      <a href="http://www.skrinnari.fi/" target="_blank">Suomen retkiluistelijat</a></li>
    <li>
      <a href="http://hlk.sporttisaitti.com/" target="_blank">Helsingin Luistinkiit&auml;j&auml;t</a></li>
    <li>
      <a href="http://www.htl.fi/" target="_blank">Helsingin Ty&ouml;v&auml;en Luistelijat</a></li>
    <li>
      <a href="http://www.su-luistelu.fi/" target="_blank">Sein&auml;joen Urheilijat, luistelujaosto</a></li>
    <li>
      <a href="http://www.finlandicemarathon.com/" target="_blank">Finland Ice Marathon</a></li>
    <li>
      <a href="http://www.vikingarannet.com/" target="_blank">Vikingar&auml;nnet</a></li>
  </ul>
  <p>
    &nbsp;</p>

  <h3>
    <a name="Hiihto">Hiihto</a></h3>
  <ul>
    <li>
      <a href="http://www.hiihtoliitto.fi/" target="_blank">Hiihtoliitto</a></li>
    <li>
      <a href="http://www.pirkankierros.fi/hiihto.htm" target="_blank">Pirkan hiihto</a></li>
    <li>
      <a href="http://www.kainuunliikunta.fi/tapahtumat/vuokatti_hiihto" target="_blank">Vuokattihiihto</a></li>
    <li>
      <a href="http://www.pogostanhiihto.fi/" target="_blank">Pogostan hiihto</a></li>
    <li>
      <a href="http://www.finlandiahiihto.fi/" target="_blank">Finlandiahiihto</a></li>
    <li>
      <a href="http://www.tervahiihto.fi" target="_blank">Tervahiihto</a></li>
    <li>
      <a href="http://www.vasaloppet.se/" target="_blank">Vasaloppet</a></li>
    <li>
      <a href="http://www.worldloppet.com/" target="_blank">Worldloppet</a></li>
  </ul>
  <p>
    &nbsp;</p>

  <h3>
    <a name="Juoksu">Juoksu</a></h3>
  <ul>
    <li>
      <a href="http://www.nocando.fi/kaukjarvi" target="_blank">Kaukj&auml;rven Kierros - Kev&auml;&auml;n klassikko</a>
    </li>
    <li>
      <a href="http://www.sul.fi/" target="_blank">Urheiluliitto</a></li>
    <li>
      <a href="http://www.onmky.fi/osastot/yleisurheilu/oulumaraton/" target="_blank">Terwah&ouml;lkk&auml; ja
        maraton</a></li>
    <li>
      <a href="http://www.tuusulanjarvenmaraton.net/" target="_blank">Tuusulanj&auml;rven maraton</a></li>
    <li>
      <a href="http://www.someronesa.fi/" target="_blank">Someron Esa maraton</a></li>
    <li>
      <a href="http://www.kyronjokimaraton.com/" target="_blank">Kyr&ouml;njokimaraton</a></li>
    <li>
      <a href="http://www.porinkuntoilijat.net/maraton.htm" target="_blank">Yyterin maraton</a></li>
    <li>
      <a href="http://www.pirkankierros.fi/indexho1.html" target="_blank">Pirkan h&ouml;lkk&auml;</a></li>
    <li>
      <a href="http://ecross.fi/" target="_blank">eCross</a></li>
    <li>
      <a href="http://www.suvi-ilta.fi/" target="_blank">Forssan suvi-ilta</a></li>
    <li>
      <a href="http://www.rantamaraton.fi/" target="_blank">Espoon Rantamaraton</a></li>
    <li>
      <a href="http://www.helsinkicitymarathon.com/" target="_blank">Helsinki City Marathon</a></li>
    <li>
      <a href="http://www.helsinkicityrun.com/" target="_blank">Helsinki City Run</a></li>
    <li>
      <a href="http://www.stockholmmarathon.se/" target="_blank">Tukholman Marathon</a></li>
    <li>
      <a href="http://www.lidingoloppet.se/" target="_blank">Liding&ouml;loppet</a></li>
    <li>
      <a href="http://www.juoksija-lehti.fi/" target="_blank">Juoksija-Lehti</a></li>
  </ul>
  <p>
    &nbsp;</p>

  <h3>
    <a name="Soutu">Soutu</a></h3>
  <ul>
    <li>
      <a href="http://www.soutuliitto.fi/" target="_blank">Soutuliitto</a></li>
    <li>
      <a href="http://www.maatilamatkailumannila.com/" target="_blank">Maatilamatkailu Mannila</a></li>
    <li>
      <a href="http://www.jarvipaivat.fi/" target="_blank">Lohjan J&auml;rvip&auml;iv&auml;t</a></li>
    <li>
      <a href="http://www.suursoudut.fi/" target="_blank">Sulkavan Soutu</a></li>
    <li>
      <a href="http://www.pirkankierros.fi/indexso1.html" target="_blank">Pirkan Soutu</a></li>
  </ul>
  <p>
    &nbsp;</p>

  <h3>
    <a name="Pyöräily">Py&ouml;r&auml;ily</a></h3>
  <ul>
    <li>
      <a href="http://www.pyoraily.fi/" target="_blank">Py&ouml;r&auml;ilyunioni</a></li>
    <li>
      <a href="http://www.tuulpyoraily.com/" target="_blank">Turun Urheiluliitto - kk-py&ouml;r&auml;ily</a></li>
    <li>
      <a href="http://www.porintarmo.fi/pyoraily/" target="_blank">Porin Tarmo - kk-py&ouml;r&auml;ily</a></li>
    <li>
      <a href="http://www.ccpicaro.net/" target="_blank">Picaro</a></li>
    <li>
      <a href="http://www.pirkankierros.fi/indexpy1.html" target="_blank">Pirkan Py&ouml;r&auml;ily</a></li>
    <li>
      <a href="http://www.vaetternrundan.se/" target="_blank">V&auml;tternrundan</a></li>
    <li>
      <a href="http://www.fillari-lehti.fi/" target="_blank">Fillari-lehti</a></li>
  </ul>
  <p>
    &nbsp;</p>

  <h3>
    <a name="Suunnistus">Suunnistus</a></h3>
  <ul>
    <li>
      <a href="http://www.ssl.fi/" target="_blank">Suunnistusliitto</a></li>
    <li>
      <a href="http://www.vaajakoskentera.com/" target="_blank">Vaajakosken Ter&auml;</a></li>
    <li>
      <a href="http://www.jukola.com/" target="_blank">Jukolan Viesti</a></li>
    <li>
      <a href="http://www.fin5.fi/" target="_blank">FIN5-rastiviikko</a></li>
    <li>
      <a href="http://krv.rastiviikko.fi/" target="_blank">Kainuun Rastiviikko</a><br/>
      &nbsp;</li>
  </ul>
  <p>
    <br/>
    <strong><span style="color: rgb(0, 0, 0);">Kiert&auml;jien sivuja </span></strong></p>
  <ul>
    <li>
      <a href="http://www.htk.fi/public/hlt/hmlhitaa.htm" target="_blank">H&auml;meenlinnan Hitaat</a></li>
    <li>
      <a href="http://www.kankaanpaankalevankiertajat.fi/" target="_blank">Kankaanp&auml;&auml;n kalevankiert&auml;j&auml;t</a>
    </li>
    <li>
      <a href="http://www.kensu.fi/" target="_blank">Kensu</a></li>
    <li>
      <a href="http://www.kpnet.com/kkteampohjalainen/" target="_blank">KK-Team Pohjalainen</a></li>
    <li>
      <a href="http://ojy.tky.fi/kestavyys/" target="_blank">Otaniemen Jyll&auml;&auml;j&auml;t</a></li>
    <li>
      <a href="http://www.uskelanurhot.net/" target="_blank">Uskelan Urhot</a></li>
    <li>
      <a href="http://www.viialanviri.fi/" target="_blank">Viialan Viri</a></li>
    <li>
      <a href="http://kotisivu.dnainternet.net/jyrnum/KK.html" target="_blank">Jyrki Nummelan kierrossivut</a><br/>
      <br/>
      &nbsp;</li>
  </ul>
  <p>
    <strong><span style="color: rgb(0, 0, 0);">Muita &quot;kierroksia&quot; </span></strong></p>
  <ul>
    <li>
      <a href="http://www.pirkankierros.fi/" target="_blank">Pirkan Kierros</a></li>
    <li>
      <a href="http://www.kensu.fi/jyvaskieppi/" target="_blank">Jyv&auml;skieppi</a></li>
    <li>
      <a href="http://www.oulu.ouka.fi/liikunta/hkk/" target="_blank">Hyv&auml;n kunnon kierros</a></li>
    <li>
      <a href="http://www.ensvenskklassiker.com/" target="_blank">En svensk klassiker</a></li>
  </ul>

</div>
