<div class="col-lg-8">
  <h1>
    Luistelun lajikuvaus</h1>

  <p>
    <br/>
    Pikaluistimet soveltuvat rataluisteluun parhaiten, kun haluaa pit&auml;&auml; vauhtia yll&auml;. Aloittelijoille on
    olemassa nilkkaa tukevia malleja, joilla on aluksi helpompi pit&auml;&auml; tasapaino kuin nahkakenk&auml;isill&auml;
    kevyill&auml; malleilla. Viime aikoina ovat nousseet suosioon ns. klapsit, joissa luistimen ter&auml; on kiinni
    ainoastaan k&auml;rkipuolelta ja irtoaa kannasta saranan varassa. Klapsit ovat melko kalliita, mutta antavat
    anteeksi puutteita luistelutekniikassa. Pikaluistinten melko jyrkk&auml; ter&auml;n k&auml;rki vastaa herk&auml;sti
    j&auml;&auml;n ep&auml;tasaisuuksiin, joten niill&auml; on oltava erityisen tarkkana j&auml;&auml;n pinnan suhteen.
  </p>

  <p>
    Pitk&auml;t retkiluistinter&auml;t on suunniteltu luonnonj&auml;&auml;luisteluun. Ne kiinnitet&auml;&auml;n
    tavallisiin hiihtomonoihin. Luisteluasento retkiluistimilla on pystympi eik&auml; niill&auml; pysty yht&auml; kovaan
    vauhtiin kuin pikaluistimilla, mutta niiden pitk&auml; ter&auml; ja loiva ter&auml;n k&auml;rki takaavat
    pikaluistimia varmemman kulun ep&auml;tasaisella j&auml;&auml;ll&auml;.</p>

  <p>
    <strong>My&ouml;s hokkareilla matkasta selvi&auml;&auml;, kun sinnikkyytt&auml; ja k&auml;rsiv&auml;llisyytt&auml;
      vain riitt&auml;&auml;.</strong></p>

  <p>
    Pukeutumisessa kannattaa kiinnitt&auml;&auml; huomiota asun virtaviivaisuuteen. Kyp&auml;r&auml; ei ole kilpailussa
    pakollinen, mutta sit&auml; ja my&ouml;s polvi- ja kyyn&auml;rsuojuksia suositellaan.</p>

  <p>
    Luistelussa ratkaisee luistelutekniikka paljon. Parhaiten tekniikan oppii kursseilla. Voi koittaa my&ouml;s j&auml;ljitell&auml;
    taitavampia luistelijoita. Perusasioita luistelutekniikassa ovat mm. ett&auml; jalkojen tulisi olla puoli-istuvassa
    asennossa ja kehon painon kantap&auml;ill&auml;. Luistelupotku l&auml;htee sivulle, ei taakse, ja sit&auml; seuraa
    rauhallinen liuku. Kaarreluistelutekniikkaan on t&auml;rke&auml; panostaa.</p>

</div>
