<div class="col-lg-8">
  <h1>
    Pisteiden laskeminen</h1>
  <p>
    Pisteesi voit laskea seuraavien kaavojen avulla:</p>
  <p>
    <br />
	<span style="font-family:courier new,courier,monospace;"><span style="font-size:12px;">&nbsp;<strong>Luistelu&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2800*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Hiihto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2000*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Juoksu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2000*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Soutu&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </strong>1000 &ndash; 3500*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Py&ouml;r&auml;ily&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2800*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Suunnistus &nbsp; </strong>1000 &ndash; 1300*log(oma aika/voittajan aika)</span></span><br />
    &nbsp;</p>
  <p>
    <br />
    <strong>Huomio hiihdon pisteytyksist&auml;</strong><strong>:</strong><br />
    Perinteisen hiihtotavan vertailuaika on saavutettu suoritusaika. Vapaan hiihtotavan vertailuaika saadaan kertomalla suoritusaika parittomina &rdquo;vapaan hiihtotavan vuosina&rdquo; kertoimella 1,06 ja parillisina &rdquo;perinteisen tyylin vuosina&rdquo; kertoimella 1,18. Molempien tyylien vertailuajat yhdistet&auml;&auml;n ja paras saa 1000 pistett&auml;, johon muita aikoja verrataan.</p>
  <p>
    <br />
    <strong>Huomio juoksun pisteytyksist&auml;:</strong><br />
    Maratonilla saavutettu aika on vertailuaika. Puolimaratonin vertailuaika saadaan kertomalla suoritusaika 2,3:lla. Molempien matkojen vertailuajat yhdistet&auml;&auml;n ja paras saa 1000 pistett&auml;, johon muita aikoja verrataan.</p>

</div>
<div class="col-lg-4">
  <h4>Pistelaskuri</h4>
  <p>Tällä toiminnolla voit laskea pisteesi. Huomioi, että pisteet voivat olla vain suuntaa-antavat.
     Esimerkiksi pistelaskuri ei automaattisesti ota huomioon jos voittaja on juossut puolimaratonin tai hiihtänyt vapaalla tyylillä.</p>
  <form class="form-horizontal">
  <div class="form-group">
    <label for="sport" class="control-label">Valitse kilpailu: </label>
    <select id="sport" class="form-control">
        <option value="skating">Luistelu</option>
        <option value="cycling">Pyöräily</option>
        <option value="skiing">Hiihto</option>
        <option value="rowing">Soutu</option>
        <option value="orienteering">Suunnistus</option>
        <option value="running">Juoksu</option>
    </select>
  </div>

  <div id="running_options" class="form-group">
    <label for="running_option" class="control-label">Puolimaraton tai maraton</label>
    <select id="running_option" class="form-control">
      <option value="1">Maraton</option>
      <option value="2.3">Puolimaraton</option>
    </select>
  </div>

  <div id="skiing_options" class="form-group">
    <label for="skiing_option" class="control-label">Hiihdon tyyli: </label>
    <select id="skiing_option" class="form-control">
      <option value="freestyle">Vapaa</option>
      <option value="traditional">Perinteinen</option>
    </select><br>
    <label>Hiihdon vuosi:</label>
    <input type="number" id="skiing_year">
  </div>

  <div id="times">
    <label for="winner_time">Voittajan aika</label>
    <div id="winner_time" class="form-group">
        <label for="winner_hours" class="control-label">Tunnit:</label>
        <input type="number" id="winner_hours" class="form-control">
        <label for="winner_minutes" class="control-label">Minuutit:</label>
        <input type="number" id="winner_minutes" class="form-control">
        <label for="winner_seconds" class="control-label">Sekunnit:</label>
        <input type="number" id="winner_seconds" class="form-control">
    </div>
    <br>
    <label>Sinun aikasi:</label><br>
    <div id="your_time" class="form-group">
        <label for="your_hours" class="control-label">Tunnit:</label>
        <input type="number" id="your_hours" class="form-control">
        <label for="your_minutes" class="control-label">Minuutit:</label>
        <input type="number" id="your_minutes" class="form-control">
        <label for="your_seconds" class="control-label">Sekunnit:</label>
        <input type="number" id="your_seconds" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <input type="button" class="btn btn-primary" id="calculate" value="Laske pisteet">
  </div>
  </form>
  <div id="pts_display">Pisteet: </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $("#skiing_options").hide();
      $("#running_options").hide();

      $("#sport").change(function() {
          var sport = $("#sport").val();
          if(sport === "running") {
              $("#running_options").show();
              $("#skiing_options").hide();
          } else if(sport === "skiing") {
              $("#skiing_options").show();
              $("#running_options").hide();
          } else {
              $("#skiing_options").hide();
              $("#running_options").hide();
          }
      });

      $("#calculate").click(function() {
          var winnertotal = getWinnerTime();
          var yourtotal = getYourTime();
          var pts = 0;
          var sport = $("#sport").val();
          if(sport === "running") {
              var factor = parseDouble($("#running_option").val());
              pts = 1000 - 2000 * baseTenLogarithm(yourtotal * factor / winnertotal);
          } else if(sport === "skiing") {
              var year = parseInt($("#skiing_year").val());
              var ski_style = $("#skiing_option").val();
              var factor = 1;
              if(ski_style === 'freestyle') {
                  if(year % 2 == 0) {
                      factor = 1.18;
                  } else {
                      factor = 1.06;
                  }
              }
              pts = 1000 - 2000 * baseTenLogarithm(yourtotal * factor / winnertotal);
          } else if(sport === "skating" || sport === "cycling") {
              pts = 1000 - 2800 * baseTenLogarithm(yourtotal / winnertotal);
          } else if(sport === "orienteering") {
              pts = 1000 - 1300 * baseTenLogarithm(yourtotal / winnertotal);
          } else if(sport === "rowing") {
              pts = 1000 - 3500 * baseTenLogarithm(yourtotal / winnertotal);
          }

          $("#pts_display").text("Pisteet: " + pts.toFixed(2));

          function getWinnerTime() {
              var hours = parseInt($("#winner_hours").val()) * 3600;
              var mins = parseInt($("#winner_minutes").val()) * 60;
              var secs = parseInt($("#winner_seconds").val());
              return hours + mins + secs;
          }

          function getYourTime() {
              var hours = parseInt($("#your_hours").val()) * 3600;
              var mins = parseInt($("#your_minutes").val()) * 60;
              var secs = parseInt($("#your_seconds").val());
              return hours + mins + secs;
          }

          function baseTenLogarithm(x) {
              return Math.log(x) / Math.log(10);
          }
      });
  });
</script>