<div class="col-lg-8">
  <h1>
    Pisteiden laskeminen</h1>
  <p>
    Pisteesi voit laskea seuraavien kaavojen avulla:</p>
  <p>
    <br />
	<span style="font-family:courier new,courier,monospace;"><span style="font-size:12px;">&nbsp;<strong>Luistelu&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2800*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Hiihto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2000*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Juoksu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2000*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Soutu&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; </strong>1000 &ndash; 3500*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Py&ouml;r&auml;ily&nbsp;&nbsp;&nbsp;&nbsp; </strong>1000 &ndash; 2800*log(oma aika/voittajan aika)<br />
	&nbsp;<strong>Suunnistus &nbsp; </strong>1000 &ndash; 1300*log(oma aika/voittajan aika)</span></span><br />
    &nbsp;</p>
  <p>
    <br />
    <strong>Huomio hiihdon pisteytyksist&auml;</strong><strong>:</strong><br />
    Perinteisen hiihtotavan vertailuaika on saavutettu suoritusaika. Vapaan hiihtotavan vertailuaika saadaan kertomalla suoritusaika parittomina &rdquo;vapaan hiihtotavan vuosina&rdquo; kertoimella 1,06 ja parillisina &rdquo;perinteisen tyylin vuosina&rdquo; kertoimella 1,18. Molempien tyylien vertailuajat yhdistet&auml;&auml;n ja paras saa 1000 pistett&auml;, johon muita aikoja verrataan.</p>
  <p>
    <br />
    <strong>Huomio juoksun pisteytyksist&auml;:</strong><br />
    Maratonilla saavutettu aika on vertailuaika. Puolimaratonin vertailuaika saadaan kertomalla suoritusaika 2,3:lla. Molempien matkojen vertailuajat yhdistet&auml;&auml;n ja paras saa 1000 pistett&auml;, johon muita aikoja verrataan.</p>

</div>
