<div class="col-lg-8">
  <h1><b>Kalevan Kierroksen postituslistalle<br/>
    <br/>
  </b></h1>

  <p><b> </b></p>

  <p></p>

  <p>Postituslistan j&auml;senille l&auml;hetet&auml;&auml;n tietoa p&auml;ivityksist&auml; ja muista
    uutisista/ilmoittautumisista yms.</p>

  <form name="" action="http://www.kalevankierros.fi/datafiles/userfiles/PHP/postituslista/listalle.php" method="post">
    <table width="355" cellspacing="0" cellpadding="2" border="0" bgcolor="#515151">
      <tbody>
      <tr>
        <td width="400">
          <table width="374" cellspacing="0" cellpadding="6" border="0" bgcolor="#6FB7FF">
            <tbody>
            <tr valign="top">
              <td width="99"><font size="2" face="Verdana">Etunimi:</font></td>
              <td width="243"><input name="enimi" size="30"/></td>
            </tr>
            <tr valign="top">
              <td width="99"><font size="2" face="Verdana">Sukunimi:</font></td>
              <td width="243"><input name="snimi" size="30"/></td>
            </tr>
            <tr valign="top">
              <td width="99"><font size="2" face="Verdana">S&auml;hk&ouml;posti:</font></td>
              <td width="243"><input name="email" size="30"/></td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
    <p><input type="submit" value="L&auml;het&auml;"/></p>
  </form>
</div>
