<div class="col-lg-8">
  <h1>
    Py&ouml;r&auml;ilyn lajikuvaus</h1>

  <p>
    <strong>Kierroksen py&ouml;r&auml;ilykilpailussa poljetaan aika-ajona noin 65 kilometrin matka. </strong>Py&ouml;r&auml;ilysuoritus
    on henkil&ouml;kohtainen: startti tapahtuu v&auml;liaikal&auml;hd&ouml;in ja muiden py&ouml;r&auml;ilij&ouml;iden
    peesaaminen on kielletty&auml;. Ajoalustana on asfalttip&auml;&auml;llysteinen maantie.</p>

  <p>
    <strong>Ajoon soveltuu parhaiten kilpapy&ouml;r&auml;, mutta my&ouml;s tavallisella retkipy&ouml;r&auml;ll&auml; tai
      maastopy&ouml;r&auml;ll&auml; matkasta selvi&auml;&auml; kyll&auml;.</strong> Ohjaustankoon kiinnitett&auml;v&auml;
    aika-ajotanko, ns. lepuuttaja, on hyv&auml; matalan ajoasennon s&auml;ilytt&auml;miseen; tarkasta kuitenkin, ett&auml;
    sen keulimmainen piste on alle 75 cm p&auml;&auml;ss&auml; poljinkeski&ouml;st&auml; vedetyst&auml; pystylinjasta.
    Kyp&auml;r&auml; on py&ouml;r&auml;ilyss&auml; pakollinen.</p>

  <p>
    Matkan varrelle kilpailun j&auml;rjest&auml;j&auml; varustaa huoltopisteit&auml;, mutta tarvittava neste kannattaa
    varata mukaan juomapulloihin, ettei matkalla tarvitse pys&auml;hdell&auml; suotta. Juomapulloja voi tarvittaessa t&auml;ytt&auml;&auml;
    huoltopisteill&auml;. Matkan varrella tapahtuvaan rengasrikkoon kannattaa varautua paikkausv&auml;lineill&auml; tai
    vararenkaalla. Joillekin on osoittautunut tarpeen kaksikin vararengasta. Muista my&ouml;s pumppu! Renkaanvaihtoa
    tai &ndash;paikkausta kannattaa harjoitella etuk&auml;teen.</p>

  <p>
    Py&ouml;r&auml;ilytekniikan suhteen on polkimien py&ouml;ritystekniikka lukkopolkimien avulla keskeist&auml; ja sit&auml;
    kannattaa harjoitella: polkimiin pit&auml;isi pysty&auml; v&auml;litt&auml;m&auml;&auml;n voimaa poljinkierroksen
    jokaisessa vaiheessa &ndash; tai v&auml;hint&auml;&auml;nkin kevent&auml;m&auml;&auml;n yl&ouml;sp&auml;in nousevaa
    poljinta. Polkupy&ouml;r&auml;ll&auml; voi tehd&auml; pitki&auml;kin lenkkej&auml; tarvitsematta pel&auml;t&auml;,
    ett&auml; niist&auml; palautuminen veisi tolkuttomia aikoja. Pitk&auml;hk&ouml;t lenkit ovatkin keskeisimpi&auml;
    harjoittelussa. Pelkill&auml; pitkill&auml; harjoituslenkeill&auml; selvi&auml;&auml; kyll&auml; kilpailumatkasta,
    mutta parhaaseen tulokseen p&auml;&auml;semiseksi on hyv&auml; polkea my&ouml;s kovempivauhtisia lenkkej&auml;.<br/>
    <br/>
    <br/>
    <br/>
    &nbsp;</p>

</div>
