<div class="col-lg-8">
  <h1>
    Kalevan Kierroksen s&auml;&auml;nn&ouml;t</h1>
  <p>
    <span style="font-size:8px;"><span style="color:#696969;"><span style="font-size: 9px;">(p&auml;ivitetty 30.5.2014)</span></span></span></p>
  <p>
    <br />
    <br />
    <a href="http://www.kalevankierros.fi/download/S20141115.pdf" target="_blank">Kalevan Kierroksen S&auml;&auml;nn&ouml;t 15.11.2014</a> (pdf, 5 sivua)</p>
  <p>
    <a href="http://www.kalevankierros.fi/download/L0141115.pdf" target="_blank">Kalevan Kierroksen Lajis&auml;&auml;nn&ouml;t 15.11.2014</a> (pdf, 15 sivua)</p>

</div>
