<div class="col-lg-8">
<h1 style="text-align: left">
  Kalevankiert&auml;jien yhteystietoja<br/>
  &nbsp;</h1>

<h3>
  <span style="color: rgb(255,0,0)">P&auml;&auml;kaupunkiseutu</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Espoon Etanat</b></span><br/>
  Heikki Salmi<br/>
  Hirsitie 20 A, 02720 Espoo<br/>
  puh. 0400 208 373<br/>
  heikki.salmi(at)maxtraining.fi</p>

<p>
  <span style="color: rgb(0,0,255)"><b><a href="http://ojy.tky.fi/kestavyys/" target="_blank"><span style="color: rgb(0,0,255)">Otaniemen Jyll&auml;&auml;j&auml;t</span></a></b></span><br/>
  Markku Huotari<br/>
  Vanhempientie 5 K 23, 00430 Helsinki<br/>
  houtari(at)kolumbus.fi<br/>
  puh. 09 452 5229</p>

<p>
  <a href="http://www.korsonkaiku.fi/" target="_blank"><span style="color: rgb(0,0,255)"><strong>Korson
    Kaiku</strong></span></a> / Vantaa<br/>
  Korson Kaiku ry (Konkariurheilu)<br/>
  Antti Honkonen<br/>
  puh. 040 529 5283<br/>
  antti.honkonen(at)korsonkaiku.fi<br/>
  <br/>
  <span style="color: rgb(0,0,0)"><strong>Korvenpojat</strong></span><br/>
  Heikki Aurasmaa<br/>
  puh. 050 3228210<br/>
  heikki.aurasmaa(at)hotmail.com<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)"><b>Lounais-Suomi / Salon seutu</b></span></h3>

<p>
  <span style="color: rgb(0,0,255)"><b><a href="http://www.uskelanurhot.net/" target="_blank"><span style="color: rgb(0,0,255)">Uskelan Urhot</span></a></b></span><br/>
  Aarne Talikka<br/>
  Oraspiha 8, 24100 Salo<br/>
  puh. 044 5354575<br/>
  aarne.talikka(at)astrum.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Turun alue</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Sexthlon </b></span><br/>
  Ilkka Kivi<br/>
  puh. 040 581 3562<br/>
  ilkka.kivi(at)kolumbus.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Lohja</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>KK L&auml;nsi-Uusimaa</b></span><br/>
  <br/>
  Sanna Hellman<br/>
  puh. 0400 196901<br/>
  sanna.hellman(at)mbnet.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Hyvink&auml;&auml;/Tuusula</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Sveitsil&auml;iset
    ry</b></span><strong><span style="color: rgb(0,0,0)"> </span></strong><br/>
  <span style="color: rgb(0,0,0)">Hyvink&auml;&auml; ja sen l&auml;hialueet</span><br/>
  Keski-Honkola Pertti,&nbsp; puh. 0400 880 594<br/>
  Lasse Lastuvuori, puh. 050 570 4429<br/>
  Merja&nbsp; Lastuvuori, puh. 040 587 7461<br/>
  merja.lastuvuori(at)pp.inet.fi</p>

<p>
  <span style="color: rgb(0,0,255)"><b><a href="http://ttallaajat.angelfire.com/" target="_blank"><span style="color: rgb(0,0,255)">Tuusulan Tallaajat</span></a></b></span><br/>
  Risto Viitanen<br/>
  Kurjentie 35, 04320&nbsp; Tuusula<br/>
  puh. 050 4685597<br/>
  ristota.viitanen(at)luukku.com</p>

<p>
  <span style="color: rgb(0,0,0)"><b>Tervakosken Pato</b></span><br/>
  Jaakko P&auml;rssinen<br/>
  puh. 040 771 5172<br/>
  jaakko.parssinen(at)aina.net<br/>
  &nbsp;</p>

<h3>
  <br/>
  <span style="color: rgb(255, 0, 0);">Lounais-H&auml;me</span></h3>

<p>
  <a href="http://www.tammelanryske.fi/" target="_blank"><span style="color:#0000ff;"><b>Tammelan Ryske</b></span></a>
</p>

<p>
  Ari Ilola<br/>
  puh.&nbsp;<span style="text-align: inherit;">040 5956644</span><br/>
  <span style="text-align: inherit;">ari.ilola(at)suomi24.fi</span></p>

<p>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)"><b>Tampereen seutu</b></span></h3>

<p>
  <span style="color: rgb(0,0,255)"><b><a href="http://www.viialanviri.fi/" target="_blank"><span style="color: rgb(0,0,255)">Viialan Viri</span></a></b></span>
</p>

<p>
  Jani Hevonoja<br/>
  Hevonojantie 42, 37830 VIIALA<br/>
  puh. 050 3009742<br/>
  jani(at)hevonoja.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">H&auml;meenlinna</span></h3>

<p>
  <span style="color: rgb(51,102,255)"><b><a href="http://www.hmlhitaat.fi/" target="_blank"><span style="color: rgb(0,0,255)">H&auml;meenlinnan Hitaat</span></a></b></span><br/>
  <br/>
  puheenjohtaja<br/>
  Hannu L&auml;hteenm&auml;ki<br/>
  puh. 040 5748242<br/>
  hannu.lahteenmaki(at)armas.fi</p>

<p>
  sihteeri<br/>
  Rita Stubb<br/>
  rita.stubb(at)khshp.fi<br/>
  puh. 040 5247020 &nbsp;<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Lahti</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Sel&auml;n Sitke&auml;t</b></span><b> </b>/ Lahti<br/>
  Jorma P&ouml;yry<br/>
  puh. 050 5619620<br/>
  jorma.poyry(at)salpaus.fi /<br/>
  jorma.poyry(at)phnet.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Valkeakoski</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Valkeakosken Haka / Kunto-Pirkat</b></span></p>

<p>
  Markku Tunturi<br/>
  Antinpolku 2, 37630 Valkeakoski<br/>
  puh. 03 5843344 tai 0400 864999<br/>
  markku.tunturi(at)pp.inet.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Pori ja Rauma</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>KK-Satakunta</b></span><br/>
  Oiva Repo<br/>
  Tuomikuja 10, 29570 S&ouml;&ouml;rmarkku<br/>
  puh. 02 677 0247 tai 040 513 0767</p>

<p>
  <span style="color: rgb(0,0,0)"><b>Rauman Kalevan Kiert&auml;j&auml;t</b></span><br/>
  Tapio Yli-Karro, Rauma&nbsp;<br/>
  puh. 044 3043876<br/>
  tapio.yli-karro(at)sakyla.fi&nbsp;<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Kankaanp&auml;&auml;</span></h3>

<p>
  <span style="color: rgb(0,0,255)"><b><a href="http://www.kankaanpaankalevankiertajat.fi/" target="_blank"><span style="color: rgb(0,0,255)">Kankaanp&auml;&auml;n Kalevankiert&auml;j&auml;t</span></a></b></span>
</p>

<p>
  Olli Kujansuu<br/>
  puh. 044 5782209<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Pohjanmaa</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>KK Team Pohjalainen ry</b></span><br/>
  Jukka Polso&nbsp;<br/>
  puh. 040 510 3993<br/>
  <br/>
  Matti Latvala<br/>
  Pirinkatu 23, 60320 Sein&auml;joki<br/>
  puh. 0500 266134<br/>
  latvalam(at)netikka.fi<br/>
  <br/>
  Esko Heikkinen<br/>
  Vaasa<br/>
  puh. 0400 264196<br/>
  esko.heikkinen(at)bcc.fi</p>

<p>
  Jouko Hyttinen<br/>
  Sein&auml;joki<br/>
  puh. 0400 660673<br/>
  jouko.hyttinen(at)netikka.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Kaakkois-Suomi</span></h3>

<p>
  Mikael Lindstr&ouml;m<br/>
  Kotka<br/>
  puh. 05 2284290,<br/>
  Mikael.Lindstrom(at)om.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Jyv&auml;skyl&auml;</span></h3>

<p>
  <a href="http://www.kensu.fi/" target="_blank"><span style="color: rgb(0,0,255)"><strong>Kensu
    ry</strong></span></a><br/>
  Jorma Harjula<br/>
  puh. 014 372 1238 tai 040 576 1363<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Joensuu</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Liperin Taimi</b></span><br/>
  <br/>
  Marja Holopainen<br/>
  puh. &nbsp;050 368 5832<br/>
  marja.holopainen(at)pks.fi</p>

<p>
  Vesa Haarala<br/>
  vesa.haarala(at)telemail.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Keski-Savo</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Kuntokonnat</b></span><br/>
  Markku Hirvonen<br/>
  puh. 0400 806514 tai 017 2148281<br/>
  markku.hirvonen(at)sakky.fi<br/>
  &nbsp;</p>

<h3>
  <span style="color: rgb(255,0,0)">Kuopio</span></h3>

<p>
  <span style="color: rgb(0,0,0)"><b>Savon kiert&auml;j&auml;t </b></span><br/>
  Heimo Karjalainen<br/>
  Kummaniementie 1A, 51720 Rahula<br/>
  puh. 050 522 5934<br/>
  heimo.karjalainen(at)jippii.fi</p>

<p>
  Jari Nyk&auml;nen<br/>
  jari.nykanen(at)dnainternet.net<br/>
  <br/>
  &nbsp;</p>

<p>
  &nbsp;</p>

<p>
  Kiert&auml;jille ja seuroille: Jos haluat seurasi listalle, l&auml;het&auml; tietosi palautelomakkeella tai s&auml;hk&ouml;postilla&nbsp;sivujen
  yll&auml;pit&auml;j&auml;lle (webmaster). N&auml;in saadaan lista mahdollisimman kattavaksi.</p>

<p>
  PS. Huolehtikaa my&ouml;s ett&auml; Kalevan Kierroksen linkki n&auml;kyy seurojenne sivuilla.</p>
</div>
