<div class="col-lg-8">
  <h1>
    Soudun lajikuvaus</h1>

  <p>
    Kierroksen soutu suoritetaan joko yksinsoutuna tai vuorosoutuna. Vuorosoudussa venekunnan toinen j&auml;sen meloo
    toisen soutaessa.</p>

  <p>
    Soutuvene on ns. savolaismallinen puuvene erotuksena olympialuokan veneist&auml;, mutta my&ouml;s lasikuituveneell&auml;
    saa halutessaan soutaa. Sit&auml; ei voi kuitenkaan suositella! Veneess&auml; on hyv&auml; olla liukupenkki.
    Soutuvene on melko suuri investointi eiv&auml;tk&auml; kaikki ole halukkaita sellaiseen heti sijoittamaan. Veneit&auml;
    tarjotaankin my&ouml;s vuokralle ja k&auml;ytettyj&auml;kin veneit&auml; on kaupan. Seuraa KK-Foorumia ja kysy sielt&auml;.</p>

  <p>
    Soutuasu tulee valita s&auml;&auml;n mukaan: esim. sateen uhatessa kannattaa varautua m&auml;rk&auml;n&auml;kin l&auml;mmitt&auml;v&auml;ll&auml;,
    tuulenpit&auml;v&auml;ll&auml; vaatetuksella. K&auml;sineiden suhteen on vallalla kaksi koulukuntaa, joista toisen
    edustajat soutavat niiden kanssa ja toiset ilman. Oman n&auml;kemyksen luominen kannattaa aloittaa varman p&auml;&auml;lt&auml; &ndash;
    esim. ohuet hiihtok&auml;sineet ovat hyv&auml;t. Veneess&auml; on hyv&auml; olla pumppu tai &auml;ysk&auml;ri.</p>

  <p>
    Oikean soututekniikan hallitseminen on eritt&auml;in t&auml;rke&auml; osa hyv&auml;&auml; suoritusta. Ilman
    soutamisen rentoutta ja ns. taloudellisuutta noin kolmen tunnin soutu muuttuu jo kisan alkupuoliskolla v&auml;kin&auml;iseksi
    airojen kiskomiseksi.</p>

  <p>
    Hyv&auml; soutaja k&auml;ytt&auml;&auml; koko kroppaansa: veto alkaa pumppaamalla reisilihaksilla jolloin k&auml;det
    ovat viivasuorat ja levossa ja selk&auml; lukittuneena. Pian jalkaty&ouml;n loppuvaiheen aikana selk&auml;
    suoristetaan ja vasta sitten k&auml;det tekev&auml;t lopputy&ouml;n. Koko liikesarjan tulisi olla kiihtyv&auml; eli
    k&auml;sien osuus ty&ouml;st&auml; on hyvin lyhyt ja melko vaatimaton. Vahvat jalat ja selk&auml; ovat p&auml;&auml;roolissa
    vetovaiheessa. Palautusvaiheen olennainen osa on palautuminen: vedon loppuasennosta k&auml;det vied&auml;&auml;n
    nopeasti mutta rennosti polvien ohi ja vasta sitten palautetaan selk&auml; ja jalat vedon alkuasentoon.</p>

  <p>
    Huom! Airoilla ei koukita syv&auml;lt&auml; vaan pelkk&auml; airojen pudotus veteen riitt&auml;&auml;.</p>

  <p>
    Vuorosoutuveneen meloja ei lep&auml;&auml; eik&auml; sy&ouml; ev&auml;it&auml; veneen per&auml;ss&auml;. Tankkaus on
    t&auml;ss&auml;kin lajissa pikainen toimitus ja tapahtuu melomisen aikana. Meloja tekee l&auml;hes yht&auml; paljon
    t&ouml;it&auml; kuin soutaja sill&auml; ilman tehokasta melomista vuorosoutuvene ui syv&auml;ll&auml; ja kunnon
    vauhtiin p&auml;&auml;sy on mahdotonta. L&ouml;yd&auml; melontaan hyv&auml; tasapaino, mist&auml; on palkintona
    soutamisen helppous. Melojan tulee kurottaa mela niin pitk&auml;lle eteens&auml; veteen kuin pystyy, kunhan
    takapuoli pysyy aivan penkin reunassa. Tahdin on oltava ehdottomasti sama kuin soutajalla: mela laitetaan veteen ja
    otetaan vedest&auml; samaan aikaan kuin airot. Melojan tehokas veto loppuu kun mela on ohittanut melojan
    lantion &ndash; eli veden viskominen taivaalle tai per&auml;ss&auml; tulevan veneen sis&auml;lle on turhaa. Opettele
    soutamaan molemmilla k&auml;sill&auml; p&auml;&auml;llimm&auml;isen&auml; sek&auml; melomaan molemmilta puolilta
    venett&auml; &ndash; erityisesti tuulisella s&auml;&auml;ll&auml; on n&auml;ist&auml; taidoista
    hy&ouml;ty&auml;.<br/>
    <br/>
    <br/>
    &nbsp;</p>

</div>
