<div class="col-lg-8">
  <h1>

    Suunnistuksen lajikuvaus</h1>

  <p>
    Suunnistuksessa k&auml;yd&auml;&auml;n karttaan merkityt rastit numeroj&auml;rjestyksess&auml; kompassia apuna k&auml;ytt&auml;en.
    <strong>Kierroksen suunnistuksessa reitin pituudeksi kertyy noin 15 kilometri&auml;. </strong><br/>
    <br/>
    Kalevan Kierroksen suunnistus juostaan yhteis- tai v&auml;liaikal&auml;ht&ouml;n&auml; ratamestarin laatimien
    hajontojen mukaan. V&auml;lill&auml; voidaan poiketa kilpailukeskuksessa vaihtamassa karttaa. Suunnistus on yksil&ouml;suoritus,&nbsp;vaikka
    mets&auml;&auml;n l&auml;hdett&auml;isiinkin yhteisl&auml;hd&ouml;ll&auml;.&nbsp;Erilaiset hajonnat takaavat sen,
    ett&auml; ymp&auml;rill&auml; olevat kanssakilpailijat eiv&auml;t v&auml;ltt&auml;m&auml;tt&auml; kierr&auml;
    kaikkia rastiv&auml;lej&auml; samassa j&auml;rjestyksess&auml;.</p>

  <p>
    Varusteista keskeisin on kompassi, mutta my&ouml;s suunnistuskeng&auml;t ja -asu ovat suositeltavia, koska ne eiv&auml;t
    ime vett&auml; eiv&auml;tk&auml; repeydy helposti pusikoissa.</p>

  <p>
    Kierroksen suunnistuksessa k&auml;ytet&auml;&auml;n elektronista kilpailukorttia (Emit), jolle tallentuvat
    rastileimaukset v&auml;liaikoineen. Kortti puretaan maalissa tietokoneelle sen toteamiseksi, onko kaikki rastit
    kierretty ja viel&auml;p&auml; oikeassa j&auml;rjestyksess&auml;. Kilpailussa voi k&auml;ytt&auml;&auml; omaa
    korttia tai kortin voi vuokrata kilpailunj&auml;rjest&auml;j&auml;lt&auml;.</p>

  <p>
    On muistettava sovittaa juoksuvauhti oman taitotason mukaiseksi ja
    <strong>edet&auml; suunnistustaidon ehdoilla</strong>. Kilpailussa kannattaa pit&auml;&auml; mieless&auml;, ett&auml;
    matka on pitk&auml;, joten reitinvalinnat on teht&auml;v&auml; huolella. Suuria m&auml;ki&auml; kannattaa monesti
    kiert&auml;&auml; ennemmin kuin kavuta niiden yli. Tasainen rytmi ja huolellinen kartanluku johtavat parhaaseen
    suoritukseen. Keskity omaan suunnistamiseesi &ndash; muiden taitoihin ei aina ole luottamista!</p>

  <p>
    Suunnistuksessa on suunnistustaito kaiken A ja O &ndash; mutta my&ouml;s juoksukuntoa tarvitaan, ettei keskittyminen
    p&auml;&auml;sisi v&auml;symisen vuoksi herpaantumaan. Kest&auml;&auml;h&auml;n suoritus monen tunnin ajan. Taitojen
    harjaannuttamiseen hyvin soveltuvia kuntorasteja j&auml;rjestet&auml;&auml;n l&auml;hes kaikkialla Suomessa kev&auml;&auml;st&auml;
    alkaen, heti lumipeitteen hieman laskettua, ja niit&auml; kannattaa hy&ouml;dynt&auml;&auml;. Suunnistusjuoksu k&auml;y
    my&ouml;s maratonharjoittelusta. Monet seurat j&auml;rjest&auml;v&auml;t etenkin kev&auml;isin suunnistuskouluja,
    joilla opetetaan perustaitoja. Suunnistusseuroista saa my&ouml;s opastusta ja neuvoja &ndash; kannattaa
    kysy&auml;.<br/>
    <br/>
    <br/>
    &nbsp;</p>


</div>
