<div class="col-lg-6">
    <h1>Ilmoita viestijoukkue</h1>
    <p>
        Kalevan kierroksen viesti on kuuden lajin viestikilpailu, jossa jokainen joukkueen jäsen
        suorittaa yhden Kalevan kierroksen lajin. Jos useampi jäsen suorittaa lajin, lasketaan yhteispisteiseen paras tulos.
    </p>
    <%= render 'form' %>
    <h1><a href="http://kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-default">Takaisin</a></h1>
</div>