<div class="col-lg-6">
    <h1>Ilmoita joukkue viestikisaan</h1>
    <p>
        Viestikilpailussa jokainen joukkueen jäsen suorittaa yhden lajin.
        Useamman jäsenen suorittaessa lajin, paras pistemäärä lasketaan joukkueen tuloksiin.
    </p>
    <%= render 'form' %>
    <h4><a href="http://sivut.kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-default">Ilmoittaudu</a></h4>
</div>