language: ruby
rvm:
- 2.1.2

addons:
    postgresql: "9.3"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
script:
  - xvfb-run --server-args="-screen 99.0 1024x768x24" bundle exec rspec spec/features/*.rb
deploy:
  provider: heroku
  app: kalevankierros
  api_key:
    secure: Ev466/UZStDK64HTI8K1b2NZV3pxCCI5DKXbm1VKNSPLwX7BCvc4vPffB667hsBSfPSub3wCbApLTV55BR3PbUmwF6M1zAx2XqJ6qrSOI/MaWLWKOfDwrqTENYgtXm1IiK0Hm0+gtXOXVfhhdQAI1hCwip9GWkk+YAO2oZCxUE4=

notifications:
  email:
    on_success: never
    on_failure: always
