<div class="uutiset">
  <h3></h3>
    <% show_latest.each do |uutiset| %>
      <span><%= uutiset.created_at.strftime("%-d.%-m.%-Y") %></span>
      <p><%= link_to raw(uutiset.title), uutiset_path(uutiset) %></p>
      <!--p><%= link_to raw(uutiset.title << ' <span
          class="newstime">(' << uutiset.created_at.strftime("%-d.%-m. %H:%M") << ')</span>'), uutiset_path(uutiset) %></p-->
      <% end %>
</div>
  <!--style type="text/css">.newstime{font-size: small; }</style-->