<div class="col-lg-4">
  <h3>Viimeisimmät uutiset</h3>
  <% show_latest.each do |uutiset| %>
      <p><%= link_to '' << uutiset.title << ' ' << uutiset.created_at.strftime("%-d.%-m %H:%M"), uutiset_path(uutiset) %></p>
  <% end %>
</div>
