  <div style="min-height: 350px;">

  <h3>Viimeisimmät uutiset</h3>
  <% show_latest.each do |uutiset| %>
      <p><%= link_to raw('<span class="newstime">' << uutiset.created_at.strftime("%-d.%-m. %H:%M") << '</span>' << uutiset.title ), uutiset_path(uutiset) %></p>
  <% end %>

  </div>
  <style type="text/css">.newstime{font-size: small; display: block; clear: both;}</style>