  <div style="min-height: 350px;">
  <div style="width:100%; height: 45px; background-image: url('<%= asset_path 'palkki.png' %>'); background-repeat:  no-repeat; color: white; font-size: 18px; padding-top: 5px; margin-bottom: 4px; text-align: center;">Viimeisimmät uutiset</div>
    <% show_latest.each do |uutiset| %>
      <p><%= link_to raw(uutiset.title << ' <span class="newstime">(' << uutiset.created_at.strftime("%-d.%-m. %H:%M") << ')</span>'), uutiset_path(uutiset) %></p>
  <% end %>

    <hr style="border-top: 1px dotted black;" />
  </div>
  <style type="text/css">.newstime{font-size: small; }</style>