<h1>Kalevan kierroksen tilastot</h1>

<p>Voit valita kahden eri tilastonäkymän välillä. Perustilastonäkymässä voit järjestää tilaston sukunimen ja suoritettujen kilpailujen perusteella. </p>
<p>Hakuominaisuudella varustetusta taulukosta voit etsiä tilastoja tarkemmin hakuehdoin. Tämä tilastonäkymä voi olla hidas tietyillä selaimilla. Käytä tällöin perustilastoa.</p>
<a href="<%= statistics_path %>/static"><p class="lead">Perustilasto</a><br/><a href="<%= statistics_path %>/search">Tilasto hakuominaisuudella</p></a>
