<div class="col-lg-6">
    <h1>Ilmoita joukkue joukkuekisaan</h1>
    <p>
        Joukkuekilpailu on kuuden lajin yhteiskilpailu, jossa kunkin lajin 4 parasta tulosta lasketaan joukkueen pisteisiin.
        Joukkueeseen voi kuulua 4-6 jäsentä.
    </p>
    <%= render 'form' %>
    <h4><a href="http://sivut.kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-default">Ilmoittaudu</a></h4>
</div>