<h1>Ilmoita joukkue</h1>
<p>
    Joukkuekilpailu on kuuden lajin yhteiskilpailu, jossa joukkueen pisteisiin lasketaan kunkin lajin 4 parasta tulosta.
    Joukkueeseen voi kuulua 4-6 jäsentä.
</p>
<%= render 'form' %>
<h1><a href="http://kalevankierros.fi/ilmoittaudu/" class="nappula btn btn-default">Takaisin</a></h1>