<div class="col-md-8">
  <div class="bs-component">
    <h2>Aktivoi käyttäjätili</h2>

    <%= bootstrap_form_tag url: activation_path, method: :put do |f| %>
        <%= f.hidden_field :activation_token, value: @user.activation_token %>
        <h1><%= f.submit "Aktivoi tili", :class => 'btn btn-primary', data: {disable_with: 'Tili aktivoitu'} %></h1>
    <% end %>
  </div>
</div>
