<div class="col-md-8">
  <h2>Muokkaa tietojasi</h2>
  <h4>Kk-numerosi: <%= @user.kk_number %></h4>

<%= render 'form', :subpage => 'edit' %>
  <h1><a href="http://tiedot.kalevankierros.fi/" class="btn btn-default">Omat tiedot</a></h1>
</div>