<div class="col-lg-4">

  <h1>Rekisteröidy</h1>
  <p>
    <%= link_to('Jos osallistuit Kalevan Kierrokselle vuonna 2015, älä rekisteröidy vaan kirjaudu sisään', signin_path) %>
  </p>

  <%= render 'form' %>

</div>