<div class="col-lg-4">

  <h2>Rekisteröidy kiertäjäksi</h2>
  <p>
    <%= link_to('Jos osallistuit Kalevan kierrokselle vuonna 2015 tai 2016, älä rekisteröidy vaan kirjaudu sisään', signin_path) %>
  </p>

  <%= render 'form' %>
  <h1><a href="http://kalevankierros.fi/" class="nappula btn btn-default">Takaisin etusivulle</a></h1>
</div>