<div class="col-lg-4">
  <h1>Muokkaa tapahtumaa</h1>

  <%= render 'form', :subpage => 'edit'  %>

  <%= link_to 'Tapahtuman tiedot', @event %> |

  <%= link_to 'Näytä kaikki tapahtumat', events_path %>
</div>