<div class="col-md-8">

  <h1>Ilmoittautumiset tapahtumittain</h1>
<p>Valitse tapahtuma alta: </p>
  <table id="eventenrollments" class="table table-striped tablesorter-blue">
    <thead>
    <tr>
      <th>Nimi:</th>
      <th>Alkamispäivä:</th>
    </tr>
    </thead>
    <tbody>
  <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, show_enrollments_path(event.id) %></td>
          <td><%=event.start_date.strftime("%-d.%-m.%-Y") %></td>
    </tr>
  <% end %>

    </tbody>
  </table>
  <script type="text/javascript">
      $(document).ready(function () {
                  $.extend($.tablesorter.themes.bootstrap, {
                      // these classes are added to the table. To see other table classes available,
                      // look here: http://twitter.github.com/bootstrap/base-css.html#tables
                      table      : 'table table-bordered',
                      caption    : 'caption',
                      header     : 'bootstrap-header', // give the header a gradient background
                      footerRow  : '',
                      footerCells: '',
                      icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                      sortNone   : 'bootstrap-icon-unsorted',
                      sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
                      sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
                      active     : '', // applied when column is sorted
                      hover      : '', // use custom css here - bootstrap class may not override it
                      filterRow  : '', // filter row class
                      even       : '', // odd row zebra striping
                      odd        : ''  // even row zebra striping
                  });

                  $("#eventenrollments").tablesorter({
                      theme: "bootstrap",
                      headerTemplate: '{content} {icon}',
                      widgets: [ "uitheme" ]
                  });
              }
      );
  </script>
</div>