/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require jquery-tablesorter/theme.bootstrap
 *= require jquery.ui.all
 *= require_tree .
 */

// Example using 'Cerulean' bootswatch
//

$brand-primary:         #002776;
$navbar-height:         85px;
//$icon-font-path: '/assets/';
$screen-sm: 992px;
$font-size-base: 14px;
$link-color:            $brand-primary !default;
$link-hover-color:      white !default;

$headings-color:        #000;
$font-family-sans-serif:  Arial, sans-serif;

// First import journal variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
//#@import 'bootstrap/glyphicons';

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

@import "bootstrap/mixins";

// Bootstrap body padding for fixed navbar
body { padding-top: 90px; }

// Responsive styles go here in case you want them
//@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

// Whatever application styles you have go last
//@import "base";

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  @include btn-shadow(#002776);
  filter: none;
  @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
}
p {
  font-size: 15px;
}

h2.eventtitle {
  text-transform: uppercase;
}

a:hover{
  color: black;
}

.kk-footer{
  color: #fff;
  text-align: center;
  padding-top: 4px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-path('glyphicons-halflings-regular.eot');
  src: font-path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font-path('glyphicons-halflings-regular.woff') format('woff'),
  font-path('glyphicons-halflings-regular.ttf') format('truetype'),
  font-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}