/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require rails_bootstrap_forms
 *= require jquery-tablesorter/theme.blue
 *= require jquery.ui.all
 *= require_tree .
 */

// Example using 'Cerulean' bootswatch
//

$brand-primary: #12377e;
$navbar-height: 70px;
//$icon-font-path: '/assets/';
$screen-sm: 992px;

$link-color:            $brand-primary !default;
$link-hover-color:      white !default;

@import "bootstrap-sprockets";
// First import journal variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
//#@import 'bootstrap/glyphicons';

@import "bootstrap";
@import "bootstrap/mixins";

// Bootstrap body padding for fixed navbar
body { padding-top: 80px; }

// Responsive styles go here in case you want them
//@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

// Whatever application styles you have go last
//@import "base";

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html {
  overflow-y: scroll;
}
p {
  font-size: 15px;
}

h2.eventtitle {
  text-transform: uppercase;
}
