// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.laatikko {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.laatikko .teksti {
  padding-top: 15px;
}

.bg-warning {
  background-color: #d52b1e;
  color: #ffffff;
}

.bg-success {
  background-color: #88c149;
  color: #ffffff;
}